<template>
  <div class="row">
    <div class="col-md-12">
      <widget title="Alarms" v-if="widgetStatus('Alarms')">
       <alarms-widget></alarms-widget>
      </widget>
    </div>
  </div>
</template>

<script>
  import Widget from '../elements/Widget.vue'
  import AlarmsWidget from '../widgets/Alarms.vue'

  let namespace = {
    users: 'users/'
  }

  export default {
    components: {
      Widget,
      AlarmsWidget
    },
    name: 'Alarms',
    methods: {
      widgetStatus (name, ruleNeeded = 0) {
        return this.$store.getters[namespace.users + 'widgetRuleStatus'](name, ruleNeeded)
      }
    }
  }
</script>
