<template>
  <div class="row">
    <div v-for="assetWidget in assetWidgets" class="col-md-6" v-if="assetWidget.properties && assetWidget.properties.length > 0 && assetWidget.rule === 1">
      <widget :title="assetWidget.name">
        <node-asset-widget :name="assetWidget.name" :item="item" :loading="loading"></node-asset-widget>
      </widget>
    </div>
  </div>
</template>

<script>
  import SNMPAttributesWidget from '../widgets/SNMPAttributes'
  import Widget from '../elements/Widget'
  import NodeAssetWidget from '../widgets/NodeAssetWidget'

  let namespace = {
    asset: 'asset/',
    users: 'users/',
    nodes: 'nodes/'
  }

  export default {
    components: {
      NodeAssetWidget,
      Widget,
      SNMPAttributesWidget
    },
    name: 'Asset',
    data () {
      return {
        id: this.$route.params.id,
        loading: true
      }
    },
    computed: {
      item () {
        return this.$store.getters[namespace.asset + 'asset'] || {}
      },
      assetWidgets () {
        let toRet = []
        let acl = this.$store.getters[namespace.users + 'acl'] || {}
        if (acl) {
          toRet = acl.assetWidgets
        }
        return toRet
      }
    },
    methods: {
      widgetStatus (name, ruleNeeded = 0) {
        return this.$store.getters[namespace.users + 'assetWidgetRuleStatus'](name, ruleNeeded)
      }
    },
    created () {
      this.$store.dispatch(namespace.asset + 'getAsset', this.id)
        .then(() => {
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
    }
  }
</script>
