<template>
  <div>
    <br/>
    <label for="timePeriod">Time Period<br/>
      <select id="timePeriod" v-model="timePeriod">
        <option :value="1">Last hour</option>
        <option :value="2">Last 2 hours</option>
        <option :value="4">Last 4 hours</option>
        <option :value="8">Last 8 hours</option>
        <option :value="12">Last 12 hours</option>
        <option :value="24">Last day</option>
        <option :value="24*7">Last week</option>
        <option :value="24*31">Last month</option>
        <option :value="24*31*365">Last year</option>
        <option :value="-1">Custom</option>
      </select>
    </label>

    <label for="timePeriod">Interface<br/><select id="interfaceSelect" v-model="interfaceSelect">
      <option value="all">All</option>
      <option :value="key" v-if="items" v-for="(item, key) in items" :key="key">{{ key }}</option>
    </select>
    </label>

    <div v-if="timePeriod === -1">
      <input type="datetime-local" v-model="dateFrom" /> Start Date<br>
      <input type="datetime-local" v-model="dateTo" /> End Date
    </div>

    <div>
      <br/><br/>
      <div v-if="items" v-for="(item, key) in items" :key="key">
        <div v-if="interfaceSelect === 'all' || interfaceSelect === key">
          <h2>{{key}}</h2>
          <graph :item="graph" :ifLabel="key" :graphLabel="getGraphLabel(graph)" v-for="(graph, graphKey) in item" :key="graphKey" :timePeriod="timePeriod" :startingUnit="0"></graph>
        </div>
      </div>
      <div v-if="Object.keys(items).length === 0">
        <div class="alert alert-info">
          Nessun dato disponibile
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  import Graph from '../elements/Graph'
  let namespace = {
    monitoredInterfaces: 'monitoredInterfaces/',
    users: 'users/',
    nodes: 'nodes/'
  }

  export default {
    components: {Graph},
    name: 'Cassandra',
    watch: {
      dateFrom () {
        if (this.dateFrom && this.dateTo) {
          this.updateData()
        }
      },
      dateTo () {
        if (this.dateFrom && this.dateTo) {
          this.updateData()
        }
      },
      timePeriod () {
        this.$store.dispatch(namespace.monitoredInterfaces + 'clearCassandraInterfaces')
        if (this.timePeriod !== -1) {
          this.dateFrom = moment().subtract(this.timePeriod, 'hours').toDate()
          this.dateTo = new Date()
        }
        this.updateData()
      },
      nodeSelected () {
        this.updateData()
      }
    },
    props: ['nodeSelected'],
    data () {
      return {
        node: null,
        nodeId: this.$route.params.id,
        timePeriod: 1,
        customTimePeriod: 0,
        interfaceSelect: 'all',
        dateFrom: moment().subtract(1, 'hours').toDate(),
        dateTo: new Date()
      }
    },
    computed: {
      items () {
        // STARTS - END -TIMESTAMPS - LABELS - COLUMNS - RESOURCE - ATTRIBUTE
        let toRet = {}
        let cassandraInterfaces = this.$store.getters[namespace.monitoredInterfaces + 'cassandraInterfaces'] || {}
        console.log('qos', cassandraInterfaces)
        cassandraInterfaces.forEach(intf => {
          console.log(intf)
          let intfName = intf.iface
          let policeName = intf.police + '_' + intf.direction
          if (!toRet[intfName]) {
            toRet[intfName] = {}
          }
          if (!toRet[intfName][policeName]) {
            toRet[intfName][policeName] = {
              conformed: {
                resource: intfName,
                police: intf.police,
                attribute: policeName,
                direction: intf.direction,
                class: intf.class,
                labels: [policeName],
                timestamps: [],
                columns: [ {
                  values: []
                }]
              },
              exceeded: {
                resource: intfName,
                police: intf.police,
                attribute: policeName,
                direction: intf.direction,
                class: intf.class,
                labels: [policeName],
                timestamps: [],
                columns: [ {
                  values: []
                }]
              }
            }
          }
          // CONFORMED
          toRet[intfName][policeName].conformed.timestamps.push(new Date(intf.collected_at).getTime())
          toRet[intfName][policeName].conformed.columns[0].values.push(parseInt(intf.conformed))
          // EXCEEDED
          toRet[intfName][policeName].exceeded.timestamps.push(new Date(intf.collected_at).getTime())
          toRet[intfName][policeName].exceeded.columns[0].values.push(parseInt(intf.exceeded))
        })

        let toRetDiff = JSON.parse(JSON.stringify(toRet))
        Object.keys(toRet).forEach(key1 => {
          Object.keys(toRet[key1]).forEach(key2 => {
            Object.keys(toRet[key1][key2]).forEach(key3 => {
              let toModify = toRet[key1][key2][key3].columns[0].values
              toRetDiff[key1][key2][key3].columns[0].values[0] = 0
              for (let i = 1; i < toModify.length; i++) {
                toRetDiff[key1][key2][key3].columns[0].values[i] = toModify[i] - toModify[i - 1]
              }
            })
          })
        })
        this.updateData(false)
        return toRetDiff
      }
    },
    methods: {
      filterFromTime (hours) {
        return -1 * hours * 60 * 60 * 1000
      },
      getGraphLabel (graph) {
        return this.node.label + ': ' + graph.conformed.class + ' (' + graph.conformed.direction + ') on ' + graph.conformed.resource + ', ' + graph.conformed.police + ' ' + this.getLabelKb(graph, this.node.infoCST)
      },
      getLabelKb (graph, nodeInfo) {
        let numPackages = 0

        if (Object.keys(nodeInfo).length !== 0 && nodeInfo.sbri.length !== 0) {
          for (let i = 0; i < nodeInfo.sbri.length; i++) {
            if ((graph.conformed.police === 'MISSION_CRITICAL') && (nodeInfo.sbri[i].tipo === 'IP Mission Critical')) {
              numPackages = nodeInfo.sbri[i].num_pacchetti
            }

            if ((graph.conformed.police === 'REAL_TIME') && (nodeInfo.sbri[i].tipo === 'IP real Time')) {
              numPackages = nodeInfo.sbri[i].num_pacchetti
            }

            if ((graph.conformed.police === 'MULTICAST') && (nodeInfo.sbri[i].tipo === 'IP Multicast')) {
              numPackages = nodeInfo.sbri[i].num_pacchetti
            }
          }
        }
        return (numPackages !== 0) ? `[${numPackages * 64} Kb]` : ''
      },
      updateData (hardReload = true) {
        this.node = this.$store.getters[namespace.nodes + 'node'] || {}
        if (hardReload && this.node && this.node.id && this.dateFrom && this.dateTo) {
          this.$store.dispatch(namespace.monitoredInterfaces + 'getCassandraInterfaces', {nodeId: this.node.id, from: this.dateFrom, to: this.dateTo})
        }
      }
    },
    created () {
      this.dateTo = new Date()
      this.updateData()
    }
  }
</script>
