<template>
  <div class="row">
    <div class="col-md-4">
      <widget :title="title" v-if="widgetStatus('Nodes')">
        <nodes-widget v-if="type === 'all'" :cbqos="true" :perPage="10" @nodeSelected="onNodeSelected"></nodes-widget>
      </widget>
    </div>
    <div class="col-md-8">
      <widget :title="title" v-if="nodeSelected && nodeSelected.id">
        <CassandraWidget></CassandraWidget>
      </widget>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  import Widget from '../elements/Widget.vue'
  import NodesWidget from '../widgets/Nodes.vue'
  import CassandraWidget from './Cassandra.vue'

  let namespace = {
    users: 'users/',
    nodes: 'nodes/',
    monitoredInterfaces: 'monitoredInterfaces/'
  }

  export default {
    components: {
      NodesWidget,
      Widget,
      CassandraWidget
    },
    name: 'CbQOS',
    data () {
      return {
        type: 'all',
        title: '',
        dateFrom: moment().subtract(1, 'hours').toDate(),
        dateTo: new Date()
      }
    },
    computed: {
      nodeSelected () {
        let toRet = this.$store.getters[namespace.nodes + 'node'] || {}
        if (toRet) {
          if (toRet.label) {
            this.title = toRet.label
          }
          this.$store.dispatch(namespace.monitoredInterfaces + 'clearCassandraInterfaces')
          if (toRet && toRet.id) {
            this.$store.dispatch(namespace.monitoredInterfaces + 'getCassandraInterfaces', {nodeId: toRet.id, from: this.dateFrom, to: this.dateTo})
          }
        }
        return toRet
      }
    },
    methods: {
      changeType (type) {
        this.type = type
      },
      widgetStatus (name, ruleNeeded = 0) {
        return this.$store.getters[namespace.users + 'widgetRuleStatus'](name, ruleNeeded)
      },
      onNodeSelected (row) {
        this.$store.dispatch(namespace.nodes + 'getNodeDetail', row)
      }
    }
  }
</script>
