<template>
  <div class="row">
    <div class="col-md-3">
      <widget title="Nodes with Pending Problems" link="Nodes" v-if="widgetStatus('PendingProblems')">
        <pending-problems-widget></pending-problems-widget>
      </widget>
      <widget title="Nodes with Outages" link="Outages" v-if="widgetStatus('CurrentOutages')">
        <current-outages-widget></current-outages-widget>
      </widget>
      <widget title="Monitored Interfaces" link="Nodes" v-if="widgetStatus('MonitoredInterfaces')">
        <dashboard-monitored-interfaces :showExport="false"></dashboard-monitored-interfaces>
      </widget>
    </div>
    <div class="col-md-6">
      <widget title="Regional Status" v-if="widgetStatus('RegionalStatus')">
        <regional-status-widget></regional-status-widget>
      </widget>
      <widget title="Availability Over the Past 24 Hours" v-if="widgetStatus('AvailabilityOverTime')">
        <availability-over-time-widget></availability-over-time-widget>
      </widget>
    </div>
    <div class="col-md-3">
      <widget title="Notifications" link="Notifications" v-if="widgetStatus('Notifications')">
        <notifications-widget></notifications-widget>
      </widget>
      <widget title="Resource Graphs" v-if="widgetStatus('ResourceGraph')">
        <resource-graph-widget></resource-graph-widget>
      </widget>
      <widget title="Quick Search" v-if="widgetStatus('QuickSearch')">
        <quick-search-widget></quick-search-widget>
      </widget>
    </div>
  </div>
</template>

<script>
  import RegionalStatusWidget from '../widgets/RegionalStatus.vue'
  import PendingProblemsWidget from '../widgets/PendingProblems'
  import CurrentOutagesWidget from '../widgets/CurrentOutages'
  import QuickSearchWidget from '../widgets/QuickSearch'
  import AvailabilityOverTimeWidget from '../widgets/AvailabilityOverTime'
  import ResourceGraphWidget from '../widgets/ResourceGraph'
  import NotificationsWidget from '../widgets/Notifications.vue'
  import Widget from '../elements/Widget.vue'
  import MonitoredNodesWidget from '../widgets/MonitoredNodes'
  import DashboardMonitoredInterfaces from '../widgets/DashboardMonitoredInterfaces'

  let namespace = {
    users: 'users/'
  }

  export default {
    components: {
      DashboardMonitoredInterfaces,
      MonitoredNodesWidget,
      Widget,
      NotificationsWidget,
      RegionalStatusWidget,
      ResourceGraphWidget,
      AvailabilityOverTimeWidget,
      QuickSearchWidget,
      CurrentOutagesWidget,
      PendingProblemsWidget
    },
    name: 'Dashboard',
    methods: {
      widgetStatus (name, ruleNeeded = 0) {
        console.log(this.$store.getters)
        return this.$store.getters[namespace.users + 'widgetRuleStatus'](name, ruleNeeded)
      }
    }
  }
</script>
