<template>
  <div class="row">
    <div class="col-md-12">
      <widget title="Events" v-if="widgetStatus('Events')">
        <events-widget></events-widget>
      </widget>
    </div>
  </div>
</template>

<script>
  import Widget from '../elements/Widget.vue'
  import EventsWidget from '../widgets/Events.vue'

  let namespace = {
    users: 'users/'
  }

  export default {
    components: {
      Widget,
      EventsWidget
    },
    name: 'Events',
    methods: {
      widgetStatus (name, ruleNeeded = 0) {
        return this.$store.getters[namespace.users + 'widgetRuleStatus'](name, ruleNeeded)
      }
    }
  }
</script>
