<template>
  <div>
    <br/>
    <label for="timePeriod">Time Period<br/><select id="timePeriod" v-model="timePeriod">
      <option :value="1">Last hour</option>
      <option :value="2">Last 2 hours</option>
      <option :value="4">Last 4 hours</option>
      <option :value="8">Last 8 hours</option>
      <option :value="12">Last 12 hours</option>
      <option :value="24">Last day</option>
      <option :value="24*7">Last week</option>
      <option :value="24*31">Last month</option>
      <option :value="24*31*365">Last year</option>
    </select></label>
    <br/><br/>
    <div>
      <br/><br/>
      <div v-if="items" v-for="(item, key) in items">
        <h2>{{key}}</h2>
        <graph :item="graph" :ifLabel="key" :graphLabel="graphKey" v-for="(graph, graphKey) in item" :timePeriod="timePeriod"></graph>
      </div>
    </div>
  </div>
</template>

<script>
  import Graph from '../elements/Graph'
  let namespace = {
    measurements: 'measurements/',
    users: 'users/'
  }

  export default {
    components: {Graph},
    name: 'GraphResults',
    props: ['resources'],
    watch: {
      resources: function () {
        this.updateData()
      },
      timePeriod () {
        this.updateData()
      }
    },
    data () {
      return {
        timePeriod: 1
      }
    },
    computed: {
      items () {
        let toRet = {}

        let ifSpeed = 1
        if (this.resources[0]) {
          ifSpeed = this.resources[0].value.externalValueAttributes.ifSpeed
        }
        console.log('ifSpeed', ifSpeed)
        let measurements = this.$store.getters[namespace.measurements + 'measurementsByNode']
        if (measurements) {
          measurements = measurements[this.$route.params.id]
          for (let measKey in measurements) {
            if (!toRet[measKey]) {
              toRet[measKey] = {}
            }
            for (let attrKey in measurements[measKey]) {
              let attrType = ''
              let cut = ''
              if (attrKey.startsWith('ifIn')) {
                attrType = 'if'
                cut = 'ifIn'
              } else if (attrKey.startsWith('ifOut')) {
                attrType = 'if'
                cut = 'ifOut'
              } else if (attrKey.startsWith('ifHCIn')) {
                attrType = 'ifHC'
                cut = 'ifHCIn'
              } else if (attrKey.startsWith('ifHCOut')) {
                attrType = 'ifHC'
                cut = 'ifHCOut'
              } else if (attrKey.startsWith('locIfIn')) {
                attrType = 'locIf'
                cut = 'locIfIn'
              } else if (attrKey.startsWith('locIfOut')) {
                attrType = 'locIf'
                cut = 'locIfOut'
              }
              let keyToPush = attrType + attrKey.substr(cut.length, attrKey.length)
              if (attrKey === 'ifInOctets' || attrKey === 'ifOutOctets') { // || attrKey === 'ifHCInOctets' || attrKey === 'ifHCOutOctets') {
                let keyToPushPerc = keyToPush + 'Perc'
                if (!toRet[measKey][keyToPush]) {
                  toRet[measKey][keyToPush] = {}
                  toRet[measKey][keyToPushPerc] = {}
                }
                toRet[measKey][keyToPush][cut] = JSON.parse(JSON.stringify(measurements[measKey][attrKey]))
                let percValues = []
                measurements[measKey][attrKey].columns[0].values.forEach(colVal => {
                  let newColVal = colVal / (ifSpeed / 1000) * 100
                  percValues.push(newColVal)
                })
                toRet[measKey][keyToPushPerc][cut] = JSON.parse(JSON.stringify(measurements[measKey][attrKey]))
                toRet[measKey][keyToPushPerc][cut].columns[0].values = percValues
              }
            }
          }
        }
        console.log('toRet', toRet)
        return toRet
      }
    },
    methods: {
      filterFromTime (hours) {
        return -1 * hours * 60 * 60 * 1000
      },
      updateData () {
        this.$store.commit(namespace.measurements + 'setItemsByNode', [])
        this.resources.forEach((resource) => {
          Object.keys(resource.value.rrdGraphAttributes).forEach((attribute) => {
            this.$store.dispatch(namespace.measurements + 'getResourceMeasurementsForDashboardAttribute', {nodeId: this.$route.params.id, resource: resource.value.id, attribute: attribute, params: {start: this.filterFromTime(this.timePeriod)}})
          })
        })
      }
    },
    created () {
      this.$store.commit(namespace.measurements + 'setItemsByNode', [])
    }
  }
</script>
