<template>
  <div>
  </div>
</template>

<script>
  export default {
    components: {},
    name: 'Hardware',
    computed: {
    },
    methods: {
    },
    created () {
    },
    mounted () {
    }
  }
</script>

<style scoped>
</style>
