<template>
  <div class="login-box">
    <div class="login-box-body">
      <p class="login-box-msg">Effettua l'accesso</p>
      <form>
        <div class="form-group has-feedback">
          <select class="form-control" id="address" v-model="address" :disabled="loading">
            <option value="" selected>Seleziona l'indirizzo</option>
            <option value="http://10.31.184.92:8980/opennms">http://10.31.184.92:8980/opennms</option>
            <option value="http://151.0.163.131:8080/opennms">http://151.0.163.131:8080/opennms</option>
          </select>
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Username" id="username" v-model="username" :disabled="loading" />
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" id="password" v-model="password" :disabled="loading">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-md-12" style="margin-bottom: 10px;">
            <loader :loading="loading"></loader>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-warning btn-block btn-flat" :disabled="loading" @click="login()">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import Loader from '../elements/Loader.vue'

  let namespaces = {
    users: 'users/',
    groups: 'groups/'
  }
  let env = false

  export default {
    components: {Loader},
    name: 'Login',
    data () {
      if (this.$route.query.token !== undefined) {
        let token = JSON.parse(atob(this.$route.query.token))
        this.loading = true
        this.$store.dispatch(namespaces.users + 'setCredentials', {address: token.address, username: token.username, password: token.password})
        this.$store.dispatch(namespaces.groups + 'getGroups')
          .then((groups) => {
            let promises = []
            groups.forEach((group) => {
              promises.push(this.$store.dispatch(namespaces.groups + 'getCategories', group))
            })
            Promise
              .all(promises)
              .then(() => {
                this.$store.dispatch(namespaces.users + 'login')
                  .then(() => {
                    this.loading = false
                    this.$router.push({name: 'Dashboard'})
                  })
                  .catch(() => {
                    this.loading = false
                    this.$store.dispatch(namespaces.users + 'logout')
                    alert('Invalid Credentials')
                  })
              })
              .catch(() => {
                this.loading = false
                this.$store.dispatch(namespaces.users + 'logout')
                alert('Invalid Credentials')
              })
          })
          .catch(() => {
            this.loading = false
            this.$store.dispatch(namespaces.users + 'logout')
          })
        return {}
      }

      return {
        loading: false,
        address: env ? 'https://demo.opennms.org/opennms' : '', // 'http://10.31.184.92:8980/opennms',
        username: env ? 'demo' : 'ubi-user', // 'ubi-user',
        password: env ? 'demo' : '*ubi-user!'
      }
    },
    methods: {
      login () {
        this.loading = true
        this.$store.dispatch(namespaces.users + 'setCredentials', {address: this.address, username: this.username, password: this.password})
        this.$store.dispatch(namespaces.groups + 'getGroups')
          .then((groups) => {
            let promises = []
            groups.forEach((group) => {
              promises.push(this.$store.dispatch(namespaces.groups + 'getCategories', group))
            })
            Promise
              .all(promises)
              .then(() => {
                this.$store.dispatch(namespaces.users + 'login')
                  .then(() => {
                    this.loading = false
                    this.$router.push({name: 'Dashboard'})
                  })
                  .catch(() => {
                    this.loading = false
                    this.$store.dispatch(namespaces.users + 'logout')
                    alert('Invalid Credentials')
                  })
              })
              .catch(() => {
                this.loading = false
                this.$store.dispatch(namespaces.users + 'logout')
                alert('Invalid Credentials')
              })
          })
          .catch(() => {
            this.loading = false
            this.$store.dispatch(namespaces.users + 'logout')
            alert('Invalid Credentials')
          })
      }
    },
    created () {
      if (this.$store.getters[namespaces.users + 'isBackgroundLogged'] || this.$store.getters[namespaces.users + 'isLogged']) {
        this.$store.dispatch(namespaces.users + 'logout')
      }
    },
    mounted () {
    }
  }
</script>

<style scoped>
</style>
