<template>
  <div class="row">
    <div class="col-md-6">
      <widget title="Asset Information" v-if="widgetStatus('AssetInformation')">
        <asset-information-widget :item="item.assetRecord || {}" :loading="loading"></asset-information-widget>
      </widget>
      <widget title="SNMP Attributes" v-if="widgetStatus('SNMPAttributes')">
        <s-n-m-p-attributes-widget :item="item" :loading="loading"></s-n-m-p-attributes-widget>
      </widget>
      <widget title="Node Interfaces" v-if="widgetStatus('Node.MonitoredInterfacess')">
        <interfaces-widget :id="id"></interfaces-widget>
      </widget>
    </div>
    <div class="col-md-6">
      <widget title="Recent Events" v-if="widgetStatus('NodeRecentEvents')" link="Events">
        <node-recent-events-widget :nodeId="id" :nodeLabel="label"></node-recent-events-widget>
      </widget>
      <widget title="Recent Outages" v-if="widgetStatus('NodeRecentOutages')">
        <node-recent-outages-widget :nodeId="id"></node-recent-outages-widget>
      </widget>
      <widget title="Monitored Interfaces" v-if="pageStatus('Node.MonitoredInterfaces')">
        <dashboard-monitored-interfaces :show-export="true" :realTimeNodeId="this.id"></dashboard-monitored-interfaces>
        <!-- <monitored-interfaces v-if="item" :item="item" :nodeId="id"></monitored-interfaces> -->
      </widget>
    </div>
  </div>
</template>

<script>
  import AssetInformationWidget from '../widgets/AssetInformation'
  import SNMPAttributesWidget from '../widgets/SNMPAttributes'
  import InterfacesWidget from '../widgets/Interfaces'
  import MonitoredInterfaces from '../widgets/MonitoredInterfaces'
  import NodeRecentOutagesWidget from '../widgets/NodeRecentOutages'
  import NodeRecentEventsWidget from '../widgets/NodeRecentEvents'
  import Widget from '../elements/Widget.vue'
  import DashboardMonitoredInterfaces from '../widgets/DashboardMonitoredInterfaces'

  let namespace = {
    users: 'users/',
    nodes: 'nodes/'
  }

  export default {
    components: {
      DashboardMonitoredInterfaces,
      MonitoredInterfaces,
      Widget,
      NodeRecentEventsWidget,
      NodeRecentOutagesWidget,
      InterfacesWidget,
      SNMPAttributesWidget,
      AssetInformationWidget
    },
    name: 'NodeDashboard',
    data () {
      return {
        loading: true,
        id: this.$route.params.id,
        label: this.$route.params.label
      }
    },
    computed: {
      item () {
        let toRet = this.$store.getters[namespace.nodes + 'node'] || {}
        return toRet
      }
    },
    methods: {
      widgetStatus (name, ruleNeeded = 0) {
        return this.$store.getters[namespace.users + 'widgetRuleStatus'](name, ruleNeeded)
      },
      pageStatus (name, ruleNeeded = 0) {
        return this.$store.getters[namespace.users + 'pageStatus'](name, ruleNeeded)
      }
    },
    created () {
      this.$store.dispatch(namespace.nodes + 'getNodeDetail', {id: this.id, label: this.label})
        .then(() => {
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
    }
  }
</script>

<style scoped>
</style>
