<template>
  <div>
    <h3>Node: {{decodeURIComponent(label)}} <span class="tag" title="database ID">{{id}}</span> <span class="tag" title="location">{{item.location}}</span> <span class="tag" title="foreign source">{{item.foreignSource}}</span></h3>
    <ul class="nav nav-tabs">
      <li :class="{active: currentTab == 0}" @click="currentTab = 0"><router-link :to="{name: 'Node.Dashboard'}">Node Dashboard</router-link></li>
      <li :class="{active: currentTab == 1}" @click="currentTab = 1"><router-link :to="{name: 'Node.Resources'}">Resource Graphs</router-link></li>
      <li :class="{active: currentTab == 2}" @click="currentTab = 2"><router-link :to="{name: 'Node.Asset'}">Asset Info</router-link></li>
      <li :class="{active: currentTab == 3}" @click="currentTab = 3"><router-link :to="{name: 'Node.CbQOS'}">CbQOS</router-link></li>
    </ul>
    <br/>
    <router-view></router-view>
  </div>
</template>

<script>
  let namespace = {
    users: 'users/',
    nodes: 'nodes/'
  }

  export default {
    name: 'Node',
    data () {
      return {
        currentTab: 0,
        id: this.$route.params.id,
        label: this.$route.params.label
      }
    },
    computed: {
      item () {
        return this.$store.getters[namespace.nodes + 'node'] || {}
      }
    },
    created () {
      this.$store.dispatch(namespace.nodes + 'getNodeDetail', {id: this.id, label: this.label})
    }
  }
</script>

<style scope>
  .tag {
    background-color: darkgrey;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    margin-left: 2px;
    margin-right: 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
</style>
