<template>
  <div class="row">
    <div class="col-md-12">
      <widget title="Nodes" v-if="widgetStatus('Nodes')">
        <ul class="nav nav-tabs">
          <li :class="{active: type === 'all'}"><a @click="changeType('all')">All</a></li>
          <li :class="{active: type === 'monitored'}" v-if="pageStatus('Node.MonitoredInterfaces')"><a @click="changeType('monitored')">Monitored Interfaces</a></li>
        </ul>
        <br/>
        <nodes-widget v-if="type === 'all'"></nodes-widget>
        <dashboard-monitored-interfaces v-if="type === 'monitored'" :show-export="true"></dashboard-monitored-interfaces>
      </widget>
    </div>
  </div>
</template>

<script>
  import Widget from '../elements/Widget.vue'
  import NodesWidget from '../widgets/Nodes.vue'
  import DashboardMonitoredInterfaces from '../widgets/DashboardMonitoredInterfaces'

  let namespace = {
    users: 'users/'
  }

  export default {
    components: {
      DashboardMonitoredInterfaces,
      NodesWidget,
      Widget
    },
    name: 'Nodes',
    data () {
      return {
        type: 'all'
      }
    },
    methods: {
      changeType (type) {
        this.type = type
      },
      widgetStatus (name, ruleNeeded = 0) {
        return this.$store.getters[namespace.users + 'widgetRuleStatus'](name, ruleNeeded)
      },
      pageStatus (name, ruleNeeded = 0) {
        return this.$store.getters[namespace.users + 'pageStatus'](name, ruleNeeded)
      }
    }
  }
</script>

<style scoped>
</style>
