<template>
  <div>
    <v-client-table :data="items" :columns="columns"></v-client-table>
  </div>
</template>

<script>
  let namespace = {
    notifications: 'notifications/'
  }

  export default {
    name: 'Notifications',
    data () {
      return {
        columns: ['id', 'eventId', 'severity', 'pageTime', 'respondTime', 'nodeId', 'nodeLabel', 'serviceType']
      }
    },
    computed: {
      items () {
        return this.$store.getters[namespace.notifications] || []
      }
    },
    methods: {
    },
    created () {
      this.$store.dispatch(namespace.notifications + 'getNotifications')
    },
    mounted () {
    }
  }
</script>

<style scoped>
</style>
