<template>
  <div class="row">
    <div class="col-md-12">
      <widget title="Outages" v-if="widgetStatus('Outages')">
        <outages-widget></outages-widget>
      </widget>
    </div>
  </div>
</template>

<script>
  import Widget from '../elements/Widget.vue'
  import OutagesWidget from '../widgets/Outages.vue'

  let namespace = {
    users: 'users/'
  }

  export default {
    components: {
      Widget,
      OutagesWidget
    },
    name: 'Outages',
    methods: {
      widgetStatus (name, ruleNeeded = 0) {
        return this.$store.getters[namespace.users + 'widgetRuleStatus'](name, ruleNeeded)
      }
    }
  }
</script>
