<template>
  <div>
    <div>
      <button class="btn btn-primary" v-on:click="unselectAll()">Clear All</button>
      <button class="btn btn-primary" v-on:click="selectAll()">Select All</button>
      <button class="btn btn-primary" v-on:click="graph()">Graph Selection</button>
      <button class="btn btn-primary" v-on:click="graphAll()">Graph All</button>
    </div>
    <br/>
    <loader :loading="loading">
      <div>
        <div v-for="item in items">
          <p><b>{{ item.key }}</b></p>
          <list :items="item.values" type="ListCellResources" :foreignId="foreignId"></list>
        </div>
        <graph-results :resources="selectedResourcesArray"></graph-results>
      </div>
    </loader>
  </div>
</template>

<script>
  import List from '../elements/List'
  import GraphResults from './GraphResults'
  import Loader from '../elements/Loader.vue'
  let namespace = {
    nodes: 'nodes/',
    resources: 'resources/',
    users: 'users/'
  }

  export default {
    components: {
      Loader,
      GraphResults,
      List
    },
    name: 'Resources',
    data () {
      return {
        foreignId: true,
        id: this.$route.params.id,
        selectedResourcesArray: [],
        items: [],
        loading: true,
        snmpNodeDataAttributes: this.$store.getters[namespace.users + 'graphResourceProperties']('SNMPNodeData') || [],
        snmpNodeInterfacesAttributes: this.$store.getters[namespace.users + 'graphResourceProperties']('SNMPInterfaceData') || []
      }
    },
    computed: {
      node () {
        return this.$store.getters[namespace.nodes + 'node'] || {}
      }
    },
    methods: {
      selectAll () {
        this.items.forEach((item) => {
          item.values.forEach((value) => {
            value.label = value.label + ' '
            value.checked = true
          })
        })
      },
      unselectAll () {
        this.items.forEach((item) => {
          item.values.forEach((value) => {
            value.label = value.label + ' '
            value.checked = false
          })
        })
      },
      graph () {
        this.selectedResourcesArray = []

        this.items.forEach((item) => {
          item.values.forEach((value) => {
            if (value.checked) {
              this.selectedResourcesArray.push({value: value})
            }
          })
        })
      },
      graphAll () {
        this.selectAll()
        this.graph()
      },
      filterFromTime (hours) {
        return moment()
          .subtract(hours, 'hours')
          .format()
      }
    },
    created () {
      this.items = []
      this.selectedResourcesArray = []
      Promise
        .all([
          this.$store.dispatch(namespace.nodes + 'getNodeDetail', {id: this.id, label: this.node.label}),
          this.$store.dispatch(namespace.resources + 'getResourcesForNode', this.id)
        ])
        .then((results) => {
          console.log('blablabla', results)
          let items = JSON.parse(JSON.stringify(this.$store.getters[namespace.resources + 'nodeResources'](results[0].label) || []))
          let newItems = []
          if (this.$store.getters[namespace.users + 'graphResourcesForNodeIsDefault'](this.id)) {
            newItems = items
          } else {
            items.forEach(item => {
              let newValues = []
              item.values.forEach(value => {
                let graphValid = this.$store.getters[namespace.users + 'graphResourceRuleStatus'](this.id, value.id)
                if (graphValid) {
                  let newRrdGraphAttributes = {}
                  let keys = Object.keys(value.rrdGraphAttributes)
                  keys.forEach(key => {
                    if (this.$store.getters[namespace.users + 'graphResourcePropertyStatus'](this.id, value.id, key)) {
                      newRrdGraphAttributes[key] = value.rrdGraphAttributes[key]
                    }
                  })
                  value.rrdGraphAttributes = newRrdGraphAttributes
                  newValues.push(value)
                }
              })
              item.values = newValues
              newItems.push(item)
            })
          }
          this.items = newItems
          this.loading = false
        })
    }
  }
</script>
