<template>
  <div class="row">
    <div class="col-md-12">
      <widget title="RTC" v-if="widgetStatus('RTC')">
        <r-t-c-widget :category="category"></r-t-c-widget>
      </widget>
    </div>
  </div>
</template>

<script>
  import Widget from '../elements/Widget.vue'
  import RTCWidget from '../widgets/RTC.vue'

  let namespace = {
    users: 'users/'
  }

  export default {
    name: 'RTC',
    components: {
      RTCWidget,
      Widget
    },
    data () {
      return {
        category: this.$route.params.category
      }
    },
    methods: {
      widgetStatus (name, ruleNeeded = 0) {
        return this.$store.getters[namespace.users + 'widgetRuleStatus'](name, ruleNeeded)
      }
    }
  }
</script>
