<template>
  <div>
    <modal type="SearchAlarmsWidget" @search-done="searchDone"></modal>
    <div><button v-on:click="showSearch()">Advanced Search</button></div><br/>
    <loader :loading="loading">
      <v-client-table :data="items" :columns="columns" :options="options"></v-client-table>
    </loader>
  </div>
</template>

<script>
  import moment from 'moment'
  import Modal from '../elements/SearchModal.vue'
  import Loader from '../elements/Loader.vue'

  let namespace = {
    alarms: 'alarms/',
    users: 'users/'
  }
  export default {
    components: {
      Loader,
      Modal
    },
    name: 'AlarmsWidget',
    data () {
      return {
        id: this.$route.params.id,
        loading: true,
        options: {
          orderBy: {
            column: 'id',
            ascending: false
          }
        }
      }
    },
    computed: {
      columns () {
        return this.$store.getters[namespace.users + 'widgetProperties']('Alarms') || []
      },
      items () {
        let alarms = this.$store.getters[namespace.alarms + 'alarmsFilter']({}) || []
        alarms.forEach((alarm) => {
          let newItem = {
            id: alarm.id,
            severity: alarm.severity,
            lastEventTime: moment(alarm.lastEventTime),
            nodeLabel: alarm.nodeLabel,
            interface: alarm.ipAddress,
            logMessage: alarm.logMessage
          }
          alarms.push(newItem)
        })
        return alarms
      }
    },
    methods: {
      showSearch () {
        this.$bus.$emit('showModal')
      },
      searchDone (filter) {
        this.items = this.$store.getters[namespace.alarms + 'alarmsFilter'](filter) || []
      }
    },
    created () {
      this.$store.dispatch(namespace.alarms + 'getAlarms')
        .then(() => {
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
    }
  }
</script>
