<template>
  <div>
    <loader :loading="loading">
      <div>
        <h5><b>Categories</b></h5>
        <v-client-table :data="items" :columns="columns" :options="options" @row-click="goToDetail"></v-client-table>
        <h5><b>Total</b></h5>
        <v-client-table :data="overall" :columns="columns" :options="options"></v-client-table>
      </div>
    </loader>
  </div>
</template>

<script>
  import moment from 'moment'
  import Loader from '../elements/Loader.vue'

  let namespace = {
    availabilities: 'availabilities/',
    groups: 'groups/',
    users: 'users/'
  }
  export default {
    components: {Loader},
    name: 'AvailabilityOverTimeWidget',
    data () {
      return {
        options: {
          filterable: false,
          sortable: [],
          texts: {
            count: ''
          },
          rowClassCallback (row) {
            return 'availability' + row.class
          }
        },
        now: +moment(),
        yesterday: +moment().add(-1, 'days'),
        loading: true
      }
    },
    computed: {
      columns () {
        return this.$store.getters[namespace.users + 'widgetProperties']('AvailabilityOverTime') || []
      },
      items () {
        /* this.categories.forEach((category) => {
        let outagesText = this.interfacesWithOutagesOfCategory(category.id).length + ' of ' + this.interfacesOfCategory(category.id)
        let availabilityText = this.getAvailabilityForCategory(category.id) + '%'
        items.push({
          category: category.name,
          outages: outagesText,
          availability: availabilityText
        })
        }) */
        let items = []
        let sections = this.$store.getters[namespace.availabilities + 'availabilities'] || []
        sections.forEach(section => {
          let categories = section.categories.category
          categories.forEach(category => {
            if (category.name !== 'Overall Service Availability') {
              this.categories.forEach(item => {
                if (category.name === item.name) {
                  items.push({
                    category: category.name,
                    outages: category['outage-text'],
                    availability: category['availability-text'],
                    class: category['availability-class']
                  })
                }
              })
            } /* else {
              this.overall.push({
                category: category.name,
                outages: category['outage-text'],
                availability: category['availability-text'],
                class: category['availability-class']
              })
            } */
          })
        })
        if (this.overall.length === 0 && items.length > 0) {
          this.computeOverall(items)
        }
        return items
      },
      overall () {
        return []
      },
      categories () {
        return JSON.parse(window.localStorage.getItem('categories')) || []
      }
      /* outages () {
        return this.$store.getters[namespace.outages + 'latest24HOutages'] || []
      } */
    },
    methods: {
      goToDetail ({row, event}) {
        this.$router.push({name: 'RTC', params: {category: row.category}})
      },
      computeOverall (items) {
        let overallOutages = 0
        let overallInterfaces = 0
        let overallAvailability = 0
        items.forEach(item => {
          let splitted = item.outages.split(' of ')
          overallOutages += parseInt(splitted[0])
          overallInterfaces += parseInt(splitted[1])
          overallAvailability += parseFloat(item.availability)
        })
        overallAvailability = overallAvailability / items.length
        let overallItem = {
          category: 'Overall Service Availability',
          outages: overallOutages + ' of ' + overallInterfaces,
          availability: overallAvailability + '%',
          class: ''
        }
        this.overall.push(overallItem)
      }
      /* interfacesWithOutagesOfCategory (category) {
        let nodes = this.$store.getters[namespace.nodes + 'nodesIdOfCategory'](category)
        return this.$store.getters[namespace.outages + 'interfacesWithOutagesOfNodes'](nodes, true, true) || []
      },
      interfacesOfCategory (category) {
        let toRet = this.$store.getters[namespace.nodes + 'getMonitoredIpInterfacesOfCategoryCount'](category)
        return toRet
      },
      getAvailabilityForNode (outages) {
        let nodeAvailability = 0
        outages.forEach(outage => {
          let lostTime = parseInt(outage.ifLostService) < this.yesterday ? this.yesterday : parseInt(outage.ifLostService)
          let regainedTime = outage.ifRegainedService ? parseInt(outage.ifRegainedService) : this.now
          nodeAvailability += 1 - (regainedTime - lostTime) / (this.now - this.yesterday)
        })
        return outages.length > 0 ? nodeAvailability / outages.length : 1
      },
      getAvailabilityForCategory (category) {
        let nodes = this.$store.getters[namespace.nodes + 'nodesIdOfCategory'](category) || []
        let latest24HOutages = this.$store.getters[namespace.outages + 'latest24HOutagesByNodes'](nodes) || []
        let nodesWithOutages = this.$store.getters[namespace.outages + 'interfacesWithOutagesOfNodes'](nodes, false, false, false) || []
        let availabilityByNode = {}
        nodesWithOutages.forEach(key => {
          availabilityByNode[key] = this.getAvailabilityForNode(latest24HOutages[key])
        })
        let availability = 0
        nodesWithOutages.forEach(key => {
          availability += availabilityByNode[key]
        })
        availability = availability * 100 / nodesWithOutages.length
        return availability.toFixed(3)
      } */
    },
    created () {
      this.$store.dispatch(namespace.availabilities + 'getAvailabilities')
        .then(() => {
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
        /* Promise
        .all([
          this.$store.dispatch(namespace.nodes + 'getNodes'),
          this.$store.dispatch(namespace.outages + 'getOutages')
        ])
        .then(() => {
          this.loading = false
        }) */
    }
  }
</script>

<style>
  .availabilityNormal {
    background: #C5E1A5 !important;
  }
  .availabilityWarning {
    background: #FFE082 !important;
  }
  .availabilityCritical {
    background: #FFAB91 !important;
  }
</style>
