<template>
  <div>
    <loader :loading="loading">
      <list v-if="items.length > 0" :items="items" type="ListCellCurrentOutages"></list>
      <p v-else>There are no current outages</p>
    </loader>
  </div>
</template>

<script>
  import List from '../elements/List'
  import Loader from '../elements/Loader.vue'

  let namespace = {
    outages: 'outages/'
  }

  export default {
    components: {
      Loader,
      List
    },
    name: 'CurrentOutagesWidget',
    data () {
      return {
        loading: true
      }
    },
    computed: {
      items () {
        return this.$store.getters[namespace.outages + 'currentOutages'] || []
      }
    },
    created () {
      this.$store.dispatch(namespace.outages + 'getOutages')
        .then(() => {
          this.loading = false
        })
    }
  }
</script>
