<template>
  <div>
    <label for="timePeriod" v-if="realTimeNodeId">Time Period <span v-if="loading">fetching...</span>
      <select id="timePeriod" v-model="hourFilter">
        <option :value="1">Last hour</option>
        <option :value="2">Last 2 hours</option>
        <option :value="4">Last 4 hours</option>
        <option :value="8">Last 8 hours</option>
        <option :value="12">Last 12 hours</option>
        <option :value="24">Last day</option>
        <option :value="24*7">Last week</option>
        <option :value="24*30">Last 30 days</option>
        <option :value="24*60">Last 60 days</option>
        <option :value="24*90">Last 90 days</option>
      </select>
    </label>
    <loader :loading="false">
      <div>
        <div>
          <button v-if="showExport" v-on:click="exportCSVFile(interfaces, 'monitored_interfaces')">Export CSV</button> <span v-if="!realTimeNodeId">Report shown are related to latest month</span>
        </div>
        <br>
        <v-client-table :data="interfaces" :columns="columns" :options="options" @row-click="goToDetail">
          <template slot="child_row" scope="props">aaa</template>
        </v-client-table>
      </div>
    </loader>

  </div>
</template>

<script>
  import List from '../elements/List'
  import Loader from '../elements/Loader.vue'
  let namespace = {
    users: 'users/',
    nodes: 'nodes/',
    resources: 'resources/',
    measurements: 'measurements/',
    monitoredInterfaces: 'monitoredInterfaces/'
  }
  const units = ['', 'K', 'M', 'G', 'T']
  const convertToBit = val => parseFloat(val) * 8
  const convertTo2Digits = (val, n = 0) => {
    let toRet = parseFloat(val.toString().split(' ')[0])
    if (toRet >= 1000) {
      toRet = convertTo2Digits(val / 1000, n + 1)
    } else {
      toRet = (Math.round(toRet * 100) / 100).toString() + ' ' + units[n] + 'bps'
    }
    return toRet
  }
  const substituteHC = (row, keyHC, isBit) => {
    let value = row[keyHC]
    const key = keyHC.replace('HC', '')
    if (!value) {
      value = row[key]
    }
    if (isBit) {
      value = convertTo2Digits(convertToBit(value))
    }
    return value
  }

  export default {
    components: {
      Loader,
      List
    },
    name: 'DashboardMonitoredInterfaces',
    props: ['showExport', 'realTimeNodeId'],
    data () {
      return {
        acl: {},
        hourFilter: 1,
        monitoredNodes: null,
        monitoredGrapResourcesForNode: [],
        loading: false,
        columns: ['nodeId', 'nodeLabel', 'categoryName', 'interfaceLabel', 'ifHCInOctets', 'averageIfHCInOctets', 'warnThresholdIfHCInOctets', 'alertThresholdIfHCInOctets', 'ifHCOutOctets', 'averageIfHCOutOctets', 'warnThresholdIfHCOutOctets', 'alertThresholdIfHCOutOctets', 'alertsHC', 'warningsHC'],
        options: {
          headings: {
            nodeId: 'Id',
            nodeLabel: 'Label',
            categoryName: 'Category',
            interfaceLabel: 'Interface',
            ifHCInOctets: 'In - PCR',
            averageIfHCInOctets: 'In - Avg Speed',
            warnThresholdIfHCInOctets: 'In - Warn Threshold',
            alertThresholdIfHCInOctets: 'In - Alert Threshold',
            ifHCOutOctets: 'Out - PCR',
            averageIfHCOutOctets: 'Out - Avg Speed',
            warnThresholdIfHCOutOctets: 'Out - Warn Threshold',
            alertThresholdIfHCOutOctets: 'Out - Alert Threshold',
            alertsHC: 'Alerts',
            warningsHC: 'Warnings',
            filterFrom: 'Filtered From'
          },
          rowClassCallback (row) {
            if (row.alerts > 0 || row.alertsHC > 0) {
              return 'availabilityCritical'
            } else if (row.warnings > 0 || row.warningsHC > 0) {
              return 'availabilityWarning'
            }
          }
        }
      }
    },
    computed: {
      interfaces () {
        let toRet = []
        if (!this.realTimeNodeId) {
          toRet = this.$store.getters[namespace.monitoredInterfaces + 'monitoredInterfaces']
          toRet = toRet.filter(interfaceObj => (interfaceObj.warnings !== 0 || interfaceObj.alerts !== 0 || interfaceObj.warningsHC !== 0 || interfaceObj.alertsHC !== 0))
        } else {
          toRet = this.$store.getters[namespace.monitoredInterfaces + 'realTimeMonitoredInterfaces']
        }
        console.log('interfaces', toRet)
        let newToRet = []
        toRet.forEach(row => {
          let elaboratedRow = {
            nodeId: row.nodeId,
            nodeLabel: row.nodeLabel,
            categoryName: row.categoryName,
            interfaceLabel: row.interfaceLabel,
            ifHCInOctets: substituteHC(row, 'ifHCInOctets', true),
            averageIfHCInOctets: substituteHC(row, 'averageIfHCInOctets', true),
            warnThresholdIfHCInOctets: substituteHC(row, 'warnThresholdIfHCInOctets', true),
            alertThresholdIfHCInOctets: substituteHC(row, 'alertThresholdIfHCInOctets', true),
            ifHCOutOctets: substituteHC(row, 'ifHCOutOctets', true),
            averageIfHCOutOctets: substituteHC(row, 'averageIfHCOutOctets', true),
            warnThresholdIfHCOutOctets: substituteHC(row, 'warnThresholdIfHCOutOctets', true),
            alertThresholdIfHCOutOctets: substituteHC(row, 'alertThresholdIfHCOutOctets', true),
            alertsHC: substituteHC(row, 'alertsHC', false),
            warningsHC: substituteHC(row, 'warningsHC', false)
          }
          newToRet.push(elaboratedRow)
        })
        return newToRet
      }
    },
    methods: {
      filterFromTime (hours) {
        return -1 * hours * 60 * 60 * 1000
      },
      goToDetail ({row, event}) {
        this.$router.push({name: 'Node.Dashboard', params: {id: row.nodeId, label: row.nodeLabel}})
      },
      convertToCSV (objArray) {
        let array = typeof objArray !== 'object' ? JSON.parse(objArray) : objArray
        let str = ''

        // HEADERS
        let line = ''
        for (let key in array[0]) {
          line += '"' + this.options.headings[key] + '",'
        }
        line = line.substr(0, (line.length - 1))
        str += line + '\r\n'

        array.forEach(obj => {
          let line = ''
          for (let key in obj) {
            line += '"' + obj[key] + '",'
          }
          line = line.substr(0, (line.length - 1))
          str += line + '\r\n'
        })
        return str
      },
      exportCSVFile (items, fileTitle) {
        let today = new Date()
        let filterFrom = new Date(today.getTime() - this.filterFromTime(this.hourFilter))
        items.forEach(obj => {
          obj.filterFrom = filterFrom.getFullYear() + '/' + this.pad((filterFrom.getMonth() + 1)) + '/' + this.pad(filterFrom.getDate()) + ' ' + this.pad(filterFrom.getHours()) + ':' + this.pad(filterFrom.getMinutes())
        })
        let jsonObject = JSON.stringify(items)
        let csv = this.convertToCSV(jsonObject)
        let exportedFilenmae = fileTitle + '_' + new Date().getFullYear() + this.pad((new Date().getMonth() + 1)) + this.pad(new Date().getDate()) + '.csv' || 'export.csv'
        let blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' })
        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, exportedFilenmae)
        } else {
          let link = document.createElement('a')
          if (link.download !== undefined) {
            let url = URL.createObjectURL(blob)
            link.setAttribute('href', url)
            link.setAttribute('download', exportedFilenmae)
            link.style.visibility = 'hidden'
            document.body.appendChild(link)
            link.click()
            document.body.removeChild(link)
          }
        }
      },
      pad (number) {
        if (number <= 99) {
          number = ('0' + number).slice(-2)
        }
        return number
      }
    },
    async created () {
      this.loading = true
      if (!this.realTimeNodeId) {
        await this.$store.dispatch(namespace.monitoredInterfaces + 'getMonitoredInterfaces')
      } else {
        await this.$store.dispatch(namespace.monitoredInterfaces + 'getRealTimeMonitoredInterfaces', {nodeId: this.realTimeNodeId, hourFilter: this.hourFilter})
      }
      this.loading = false
    },
    watch: {
      async hourFilter () {
        if (this.realTimeNodeId) {
          this.loading = true
          console.log('hourFilter', this.hourFilter)
          await this.$store.dispatch(namespace.monitoredInterfaces + 'getRealTimeMonitoredInterfaces', {
            nodeId: this.realTimeNodeId,
            hourFilter: this.hourFilter
          })
          this.loading = false
        }
      }
    }
  }
</script>

<style scoped>
  .availabilityWarning {
    background: #FFE082 !important;
  }
  .availabilityCritical {
    background: #FFAB91 !important;
  }
</style>
