<template>
  <div>
    <modal type="SearchEventsWidget" @search-done="searchDone"></modal>
    <div><button v-on:click="showSearch()">Advanced Search</button></div><br/>
    <loader :loading="loading">
      <v-client-table :data="items" :columns="columns" :options="options"></v-client-table>
    </loader>
  </div>
</template>

<script>
  import moment from 'moment'
  import Modal from '../elements/SearchModal.vue'
  import Loader from '../elements/Loader.vue'

  let namespace = {
    events: 'events/',
    users: 'users/'
  }

  export default {
    components: {
      Loader,
      Modal
    },
    name: 'EventsWidget',
    data () {
      return {
        options: {
          orderBy: {
            column: 'time'
          }
        },
        loading: true
      }
    },
    computed: {
      columns () {
        return this.$store.getters[namespace.users + 'widgetProperties']('Events') || []
      },
      items () {
        let items = []
        let events = this.$store.getters[namespace.events + 'eventsFilter']({}) || []
        console.log(events)
        events.forEach((event) => {
          let newItem = {
            id: event.id,
            severity: event.severity,
            time: moment(event.time),
            source: event.source,
            nodeLabel: event.nodeLabel,
            interface: event.ipAddress,
            serviceType: event.serviceType
          }
          items.push(newItem)
        })
        return items
      }
    },
    methods: {
      showSearch () {
        this.$bus.$emit('showModal')
      },
      searchDone (filter) {
        this.items = this.$store.getters[namespace.events + 'eventsFilter'](filter) || []
      }
    },
    created () {
      this.$store.dispatch(namespace.events + 'getEvents')
        .then(() => {
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
    }
  }
</script>
