<template>
  <div>
    <loader :loading="loading">
      <div>
        <ul class="nav nav-tabs">
          <li :class="{active: currentTab == 0}"><a @click="setCurrentTab(0)">IP Interfaces</a></li>
          <li :class="{active: currentTab == 1}"><a @click="setCurrentTab(1)">SNMP Interfaces</a></li>
        </ul>
        <br/>
        <v-client-table :data="ipInterfaces" :columns="columnsIP" v-if="currentTab == 0"></v-client-table>
        <v-client-table :data="snmpInterfaces" :columns="columnsSNMP" v-if="currentTab == 1"></v-client-table>
      </div>
    </loader>
  </div>
</template>

<script>
  import Loader from '../elements/Loader.vue'

  let namespace = {
    nodes: 'nodes/',
    users: 'users/'
  }
  export default {
    components: {Loader},
    name: 'InterfacesWidget',
    props: ['id'],
    data () {
      return {
        currentTab: 0,
        loading: true
      }
    },
    computed: {
      columnsIP () {
        return this.$store.getters[namespace.users + 'widgetProperties']('IPInterfaces') || []
      },
      columnsSNMP () {
        return this.$store.getters[namespace.users + 'widgetProperties']('SNMPInterfaces') || []
      },
      ipInterfaces () {
        return this.$store.getters[namespace.nodes + 'getIpInterfaces'](this.id) || []
      },
      snmpInterfaces () {
        return this.$store.getters[namespace.nodes + 'snmpInterfaces'] || []
      }
    },
    methods: {
      setCurrentTab (tab) {
        this.currentTab = tab
      }
    },
    created () {
      Promise
        .all([
          this.$store.dispatch(namespace.nodes + 'getNodeIPInterfaces', this.id),
          this.$store.dispatch(namespace.nodes + 'getNodeSNMPInterfaces', this.id)
        ])
        .then(() => {
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
    }
  }
</script>
