<template>
  <div>
    <loader :loading="loading" v-if="this.monitoredNodes">
      <div>
        <div>
          <label for="timePeriod">Time Period <select id="timePeriod" v-model="hourFilter">
            <option :value="1">Last hour</option>
            <option :value="2">Last 2 hours</option>
            <option :value="4">Last 4 hours</option>
            <option :value="8">Last 8 hours</option>
            <option :value="12">Last 12 hours</option>
            <option :value="24">Last day</option>
            <option :value="24*7">Last week</option>
            <option :value="24*31">Last month</option>
            <option :value="24*31*365">Last year</option>
          </select> </label>

          <!-- <button v-on:click="loadData(1)">Latest Hour</button>
          <button v-on:click="loadData(24*30)">Latest 30 Days</button> -->
          <button v-on:click="loadData(hourFilter)">Filter</button>
          <br><br>
          <button v-on:click="exportCSVFile(interfaces, 'monitored_interfaces_' + nodeId)">Export CSV</button>
        </div>
        <br/>
        <v-client-table :data="interfaces" :columns="columns" :options="options"></v-client-table>
      </div>
    </loader>
    <span v-if="!this.monitoredNodes">Node is currently not monitored</span>
  </div>
</template>

<script>
  import List from '../elements/List'
  import Loader from '../elements/Loader.vue'
  let namespace = {
    users: 'users/',
    nodes: 'nodes/',
    resources: 'resources/',
    measurements: 'measurements/'
  }

  export default {
    components: {
      Loader,
      List
    },
    name: 'MonitoredInterfaces',
    props: ['item', 'nodeId'],
    data () {
      return {
        acl: {},
        monitoredNodes: null,
        monitoredGrapResourcesForNode: [],
        interfaces: [],
        hourFilter: 1,
        loading: false,
        columns: ['categoryName', 'interfaceName', 'ifHCInOctets', 'averageIfHCInOctets', 'warnThresholdIfHCInOctets', 'alertThresholdIfHCInOctets', 'ifHCOutOctets', 'averageIfHCOutOctets', 'warnThresholdIfHCOutOctets', 'alertThresholdIfHCOutOctets', 'alertsHC', 'warningsHC'],
        options: {
          headings: {
            interfaceName: 'Interface',
            ifHCInOctets: 'In - MCR (Kbps)',
            averageIfHCInOctets: 'In - Avg Speed',
            warnThresholdIfHCInOctets: 'In - Warn Threshold',
            alertThresholdIfHCInOctets: 'In - Alert Threshold',
            ifHCOutOctets: 'Out - MCR (Kbps)',
            averageIfHCOutOctets: 'Out - Avg Speed',
            warnThresholdIfHCOutOctets: 'Out - Warn Threshold',
            alertThresholdIfHCOutOctets: 'Out - Alert Threshold',
            alertsHC: 'Alerts',
            warningsHC: 'Warnings'
          }
        },
        calls: {},
        checks: {}
      }
    },
    methods: {
      filterFromTime (hours) {
        return -1 * hours * 60 * 60 * 1000
      },
      findCategory (data, allowed) {
        var toRet = null
        var categories = []
        allowed.forEach(function (category) {
          categories.push(category.name)
        })
        data.forEach(function (category) {
          if (categories.indexOf(category.name) !== -1) {
            toRet = category.name
          }
        })
        return toRet
      },
      findRule (data, graph) {
        var toRet = null
        data.forEach(function (item) {
          if (item.name === graph) {
            toRet = item.rule
          }
        })
        return toRet
      },
      calculateAverage (data) {
        var toRet = 0
        var totStream = 0
        var count = 0
        if (data && data[0] && data[0].values && Array.isArray(data[0].values)) {
          data[0].values.forEach(function (val) {
            if (!isNaN(val)) {
              count++
              totStream += val
            }
          })
          toRet = (totStream / count) * 8 / 1024
        }
        return Math.round(toRet * 10000000) / 10000000
      },
      calculatePeaks (data, minLimit, maxLimit) {
        var toRet = 0
        if (data && data[0] && data[0].values && Array.isArray(data[0].values)) {
          toRet = data[0].values.filter(function (val) {
            if (!isNaN(val)) {
              let valMb = val * 8 / 1024
              console.log('val_Mb', val_Mb)
              console.log('minLimit', minLimit)
              console.log('maxLimit', maxLimit)

              return valMb > parseFloat(minLimit) && valMb < parseFloat(maxLimit)
            } else {
              return false
            }
          }).length
        }
        return toRet
      },
      calculateAbsoluteValue (interfaceObj, monitoredFactors, category, graphName, typeNotification) {
        var rule = 0
        var perc = 0
        interfaceObj.properties.forEach(function (graph) {
          if (graph.name === graphName) {
            rule = parseFloat(graph.rule)
          }
        })
        monitoredFactors.forEach(function (cat) {
          if (cat.name === category) {
            cat.properties.forEach(function (type) {
              if (type.name === typeNotification) {
                perc = parseFloat(type.rule)
              }
            })
          }
        })
        return rule * perc / 100
      },
      loadData (fromTime) {
        this.loading = true
        this.hourFilter = fromTime
        this.interfaces = []
        this.calls = {}
        this.checks = {}

        this.acl = this.$store.getters[namespace.users + 'acl'] || {}
        this.acl.monitoredNodes.forEach(node => {
          if (parseInt(node) === parseInt(this.nodeId)) {
            this.monitoredNodes = []
            this.monitoredNodes.push(node)
            this.acl.monitoredGraphResourcesForNode.forEach(res => {
              if (parseInt(res.name) === parseInt(this.nodeId)) {
                this.monitoredGraphResourcesForNode = []
                this.monitoredGraphResourcesForNode.push(res)
                console.log('monitored graph resources for node', this.monitoredGraphResourcesForNode)
                this.monitoredGraphResourcesForNode[0].properties.forEach(interfaceObj => {
                  this.interfaces.push({
                    interfaceName: interfaceObj.name,
                    ifHCInOctets: findRule(interfaceObj.properties, 'ifHCInOctets'),
                    warnThresholdIfHCInOctets: calculateAbsoluteValue(interfaceObj, monitoredFactors, category, 'ifHCInOctets', 'warn'),
                    alertThresholdIfHCInOctets: calculateAbsoluteValue(interfaceObj, monitoredFactors, category, 'ifHCInOctets', 'alert'),
                    ifHCOutOctets: findRule(interfaceObj.properties, 'ifHCOutOctets'),
                    warnThresholdIfHCOutOctets: calculateAbsoluteValue(interfaceObj, monitoredFactors, category, 'ifHCOutOctets', 'warn'),
                    alertThresholdIfHCOutOctets: calculateAbsoluteValue(interfaceObj, monitoredFactors, category, 'ifHCOutOctets', 'alert'),
                    // NO HC
                    ifInOctets: findRule(interfaceObj.properties, 'ifInOctets'),
                    warnThresholdIfInOctets: calculateAbsoluteValue(interfaceObj, monitoredFactors, category, 'ifInOctets', 'warn'),
                    alertThresholdIfInOctets: calculateAbsoluteValue(interfaceObj, monitoredFactors, category, 'ifInOctets', 'alert'),
                    ifOutOctets: findRule(interfaceObj.properties, 'ifOutOctets'),
                    warnThresholdIfOutOctets: calculateAbsoluteValue(interfaceObj, monitoredFactors, category, 'ifOutOctets', 'warn'),
                    alertThresholdIfOutOctets: calculateAbsoluteValue(interfaceObj, monitoredFactors, category, 'ifOutOctets', 'alert')
                  })
                })
              }
            })
          }
        })
        this.getResourcesForNode()
      },
      getMeasurements (res, attribute) {
        let toRet = this.$store.getters[namespace.measurements + 'measurementsByNode']
        let nodeRes = toRet[this.nodeId]

        let currentIntf = null
        this.interfaces.forEach(savedIntf => {
          if (savedIntf.name === res) {
            currentIntf = savedIntf
          }
        })
        if (!currentIntf) {
          return
        }
        if (!this.checks[res]) {
          this.checks[res] = {}
        }
        if (!this.checks[res][attribute]) {
          // COMPUTE AVERAGE
          let totStream = 0
          let count = 0
          nodeRes[res][attribute].columns[0].values.forEach(val => {
            if (!isNaN(val)) {
              count++
              totStream += val
            }
          })
          currentIntf['average' + attribute] = totStream / count * 8 / 1024
          // COMPUTE ALERTS
          let intfAlerts = 0
          if (nodeRes[res]) {
            try {
              intfAlerts = nodeRes[res][attribute].columns[0].values.filter(val => {
                return parseFloat(val) * 8 / 1024 >= parseFloat(this.item.measurementsToCheck[res][attribute].alert)
              }).length
            } catch (e) {
            }
          }
          this.checks[res][attribute] = true
          currentIntf.alerts += intfAlerts
          // COMPUTE WARNINGS
          let intfWarnings = 0
          if (nodeRes[res]) {
            try {
              intfWarnings = nodeRes[res][attribute].columns[0].values.filter(val => {
                return parseFloat(val) * 8 / 1024 > parseFloat(this.item.measurementsToCheck[res][attribute].warn) && parseFloat(val) * 8 / 1024 < parseFloat(this.item.measurementsToCheck[res][attribute].alert)
              }).length
            } catch (e) {
            }
          }
          currentIntf.warnings += intfWarnings
          console.log('finish loading interface measurements', this.loading)
          this.loading = false
        }
      },
      getResourcesForNode () {
        this.$store.dispatch(namespace.resources + 'getResourcesForNode', this.nodeId)
          .then((resResults) => {
            this.calls = {}
            this.checks = {}
            let resources = JSON.parse(JSON.stringify(this.$store.getters[namespace.resources + 'nodeResources'](resResults[0].label) || []))
            console.log('resources', resources)
            resources.forEach(resource => {
              resource.values.forEach(value => {
                Object.keys(value.rrdGraphAttributes).forEach((attribute) => {
                  this.monitoredGraphResourcesForNode[0].properties.forEach(intf => {
                    if (intf.rule === 1 && intf.properties) {
                      intf.properties.forEach(prop => {
                        if (prop.name === attribute && prop.rule > 0) {
                          if (!this.item.measurementsToCheck) {
                            this.item.measurementsToCheck = {}
                          }
                          let matchingFact = null
                          this.item.categories.forEach(cat => {
                            this.acl.measurementsFactors.forEach(fact => {
                              if (cat.name === fact.name) {
                                matchingFact = fact
                              }
                            })
                          })
                          // SEARCH A MATCH BEETWEEN NODE CATEGORIES AND RESOURCE MEASUREMENTS CATEGORIES AND TAKE THE PERCENTAGE VALUE WITH WHICH ALTER THE RULE
                          if (matchingFact) {
                            if (!this.item.measurementsToCheck[intf.name]) {
                              this.item.measurementsToCheck[intf.name] = {}
                            }
                            if (!this.item.measurementsToCheck[intf.name][prop.name]) {
                              this.item.measurementsToCheck[intf.name][prop.name] = {}
                            }
                            this.item.measurementsToCheck[intf.name][prop.name]
                            this.item.measurementsToCheck[intf.name][prop.name].rule = prop.rule
                            this.item.measurementsToCheck[intf.name][prop.name].warn = prop.rule * matchingFact.properties[0].rule / 100
                            this.item.measurementsToCheck[intf.name][prop.name].alert = prop.rule * matchingFact.properties[1].rule / 100
                            this.interfaces.forEach(savedIntf => {
                              if (savedIntf.name === intf.name) {
                                savedIntf['warnThreshold' + prop.name] = prop.rule * matchingFact.properties[0].rule / 100
                                savedIntf['alertThreshold' + prop.name] = prop.rule * matchingFact.properties[1].rule / 100
                              }
                            })
                            // REQUEST MEASUREMENT
                            this.$store.dispatch(namespace.measurements + 'getResourceMeasurementsForDashboardAttribute', {
                              nodeId: this.nodeId,
                              resource: value.id,
                              attribute: attribute,
                              params: {start: this.filterFromTime(this.hourFilter), end: new Date().getTime()}
                            }).then(meas => {
                              if (!this.calls[value.id]) {
                                this.calls[value.id] = {}
                              }
                              if (!this.calls[value.id][attribute]) {
                                this.calls[value.id][attribute] = true
                                setTimeout(() => {
                                  this.getMeasurements(value.id, attribute)
                                }, 3000)
                              }
                            })
                          }
                        }
                      })
                    }
                  })
                })
              })
            })
          })
      },
      convertToCSV (objArray) {
        let array = typeof objArray !== 'object' ? JSON.parse(objArray) : objArray
        let str = ''

        // HEADERS
        let line = ''
        for (let key in array[0]) {
          line += '"' + this.options.headings[key] + '",'
        }
        line = line.substr(0, (line.length - 1))
        str += line + '\r\n'

        array.forEach(obj => {
          let line = ''
          for (let key in obj) {
            line += '"' + obj[key] + '",'
          }
          line = line.substr(0, (line.length - 1))
          str += line + '\r\n'
        })
        return str
      },
      exportCSVFile (items, fileTitle) {
        let jsonObject = JSON.stringify(items)
        let csv = this.convertToCSV(jsonObject)
        let exportedFilenmae = fileTitle + '_' + new Date().getFullYear() + this.pad((new Date().getMonth() + 1)) + this.pad(new Date().getDate()) + '.csv' || 'export.csv'
        let blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' })
        if (navigator.msSaveBlob) {
          navigator.msSaveBlob(blob, exportedFilenmae)
        } else {
          let link = document.createElement('a')
          if (link.download !== undefined) {
            let url = URL.createObjectURL(blob)
            link.setAttribute('href', url)
            link.setAttribute('download', exportedFilenmae)
            link.style.visibility = 'hidden'
            document.body.appendChild(link)
            link.click()
            document.body.removeChild(link)
          }
        }
      },
      pad (number) {
        if (number <= 99) {
          number = ('0' + number).slice(-2)
        }
        return number
      }
    },
    created () {
      this.loadData(1)
    }
  }
</script>
