<template>
  <div>
    <!-- <pre style="font-size: 8px;">{{this.acl.measurementsFactors || ''}}</pre>
    <br> -->
    <loader :loading="loading">
      <list v-if="items.length != 0" :items="items" type="ListCellNodes" :extras="{foreignId:false, location: false, measurements: true}"></list>
      <p v-else>There are no warns or alerts</p>
    </loader>
  </div>
</template>

<script>
  import List from '../elements/List'
  import Loader from '../elements/Loader.vue'
  let namespace = {
    users: 'users/',
    nodes: 'nodes/',
    resources: 'resources/',
    measurements: 'measurements/'
  }

  export default {
    components: {
      Loader,
      List
    },
    name: 'MonitoredNodesWidget',
    data () {
      return {
        acl: {},
        monitoredNodes: [],
        monitoredGrapResourcesForNode: [],
        loading: false
      }
    },
    computed: {
      interfaces () {
        let toRet = this.$store.getters[namespace.monitoredInterfaces + 'monitoredInterfaces']
        console.log('interfaces', toRet)
        return toRet
      },
      items () {
        let toRet = []
        let allNodes = this.$store.getters[namespace.nodes + 'nodes']() || []
        this.monitoredGraphResourcesForNode.forEach(monitoredNode => {
          // CHECK IF NODE IS MONITORED
          let nodeToPush = allNodes.filter(single => parseInt(single.id) === parseInt(monitoredNode.name))[0]
          let monitored = this.monitoredNodes.indexOf(monitoredNode.name) !== -1 && nodeToPush
          if (monitored) {
            // let monitoredNodeInterfaces = monitoredNode.properties.forEach
            toRet.push(nodeToPush)
            // CALL GRAPH API
            this.$store.dispatch(namespace.resources + 'getResourcesForNode', nodeToPush.id)
              .then((resResults) => {
                let resources = JSON.parse(JSON.stringify(this.$store.getters[namespace.resources + 'nodeResources'](resResults[0].label) || []))
                resources.forEach(resource => {
                  resource.values.forEach(value => {
                    Object.keys(value.rrdGraphAttributes).forEach((attribute) => {
                      monitoredNode.properties.forEach(intf => {
                        if (intf.rule === 1 && intf.properties) {
                          intf.properties.forEach(prop => {
                            if (prop.name === attribute && prop.rule >= 1) {
                              if (!nodeToPush.measurementsToCheck) {
                                nodeToPush.measurementsToCheck = {}
                              }
                              let matchingFact = null
                              nodeToPush.categories.forEach(cat => {
                                this.acl.measurementsFactors.forEach(fact => {
                                  if (cat.name === fact.name) {
                                    matchingFact = fact
                                  }
                                })
                              })
                              // SEARCH A MATCH BEETWEEN NODE CATEGORIES AND RESOURCE MEASUREMENTS CATEGORIES AND TAKE THE PERCENTAGE VALUE WITH WHICH ALTER THE RULE
                              if (matchingFact) {
                                if (!nodeToPush.measurementsToCheck[intf.name]) {
                                  nodeToPush.measurementsToCheck[intf.name] = {}
                                }
                                if (!nodeToPush.measurementsToCheck[intf.name][prop.name]) {
                                  nodeToPush.measurementsToCheck[intf.name][prop.name] = {}
                                }
                                nodeToPush.measurementsToCheck[intf.name][prop.name]
                                nodeToPush.measurementsToCheck[intf.name][prop.name].rule = prop.rule
                                nodeToPush.measurementsToCheck[intf.name][prop.name].warn = prop.rule * matchingFact.properties[0].rule / 100
                                nodeToPush.measurementsToCheck[intf.name][prop.name].alert = prop.rule * matchingFact.properties[1].rule / 100
                              }
                              // REQUEST MEASUREMENT
                              this.$store.dispatch(namespace.measurements + 'getResourceMeasurementsForDashboardAttribute', {
                                nodeId: monitoredNode.name,
                                resource: value.id,
                                attribute: attribute,
                                params: {start: this.filterFromTime(1)}
                              })
                            }
                          })
                        }
                      })
                    })
                  })
                })
              })
          }
        })
        return toRet
      }
    },
    methods: {
      filterFromTime (hours) {
        return -1 * hours * 60 * 60 * 1000
      }
    },
    created () {
      this.acl = this.$store.getters[namespace.users + 'acl'] || {}
      this.monitoredNodes = this.acl.monitoredNodes || []
      this.monitoredGraphResourcesForNode = this.acl.monitoredGraphResourcesForNode || []
      this.$store.dispatch(namespace.monitoredInterfaces + 'getMonitoredInterfaces')
    }
  }
</script>
