<template>
  <div>
    <loader :loading="loading">
      <v-client-table :data="items" :columns="columns" :options="options"></v-client-table>
    </loader>
  </div>
</template>

<script>
  import List from '../elements/List'
  import Loader from '../elements/Loader.vue'
  import Moment from 'moment'

  let namespace = {
    outages: 'outages/',
    users: 'users/'
  }

  export default {
    components: {
      Loader,
      List
    },
    name: 'NodeRecentOutagesWidget',
    props: ['nodeId'],
    data () {
      return {
        options: {
          perPage: 5,
          perPageValues: [],
          orderBy: {
            column: 'id',
            ascending: false
          }
        },
        loading: true
      }
    },
    computed: {
      columns () {
        return this.$store.getters[namespace.users + 'widgetProperties']('NodeRecentOutages') || []
      },
      items () {
        let items = []
        this.$store.getters[namespace.outages + 'outagesOfNodes']([parseInt(this.nodeId)]).forEach(outage => {
          items.push({
            id: outage.id,
            ipAddress: outage.ipAddress,
            serviceName: outage.monitoredService.serviceType.name,
            ifLostService: Moment(outage.ifLostService),
            serviceDown: outage.monitoredService.serviceType.down ? 'DOWN' : 'RUNNING'
          })
        })
        return items
      }
    },
    created () {
      this.$store.dispatch(namespace.outages + 'getOutages')
        .then(() => {
          this.loading = false
        })
    },
    mounted () {
    }
  }
</script>

<style scoped>
</style>
