<template>
  <div>
    <loader :loading="loading">
      <v-client-table :data="items" :columns="columns" :options="options"></v-client-table>
    </loader>
  </div>
</template>

<script>
  import moment from 'moment'
  import List from '../elements/List'
  import Loader from '../elements/Loader.vue'

  let namespace = {
    events: 'events/',
    users: 'users/'
  }

  export default {
    components: {
      Loader,
      List
    },
    name: 'NodeRecentEventsWidget',
    props: ['nodeId', 'nodeLabel'],
    data () {
      return {
        options: {
          perPage: 5,
          perPageValues: [],
          orderBy: {
            column: 'createTime'
          }
        },
        loading: true
      }
    },
    computed: {
      columns () {
        return this.$store.getters[namespace.users + 'widgetProperties']('NodeRecentEvents') || []
      },
      items () {
        let items = []
        this.$store.getters[namespace.events + 'eventsOfNode'](this.nodeId).forEach(item => {
          let newItem = {
            id: item.id,
            createTime: moment(item.createTime),
            severity: item.severity,
            description: item.description.replace(/<(?:.|\n)*?>/gm, '')
          }
          items.push(newItem)
        })
        return items
      }
    },
    created () {
      this.$store.dispatch(namespace.events + 'getEventsOfNode', this.nodeLabel)
        .then(() => {
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
    }
  }
</script>
