<template>
  <div>
    <!-- <ul class="nav nav-tabs">
      <li :class="{active: type == 'all'}" @click="resetFilter()"><a>All</a></li>
      <li :class="{active: type == 'monitored'}" @click="filterMonitored()"><a>Monitored</a></li>
    </ul> -->

    <loader :loading="loading">
      <v-client-table :data="items" :columns="type == 'all' ? columns : columnsMonitored" :options="options" @row-click="goToDetail"></v-client-table>
    </loader>

    <!-- <loader :loading="loading">
      <list :items="items" type="ListCellNodes" :extras="{foreignId: foreignId, location: location}"></list>
    </loader> -->
  </div>
</template>

<script>
  import List from '../elements/List'
  import Loader from '../elements/Loader.vue'
  import NodesWidget from '../widgets/Nodes.vue'
  let namespace = {
    nodes: 'nodes/',
    users: 'users/'
  }

  export default {
    components: {
      NodesWidget,
      Loader,
      List
    },
    name: 'NodesWidget',
    data () {
      return {
        columns: ['id', 'label', 'foreignId', 'location'],
        columnsMonitored: ['id', 'label', 'foreignId', 'location'],
        options: {
          orderBy: {
            column: 'id',
            ascending: false
          },
          perPage: this.perPage ? this.perPage : 10
        },
        loading: true,
        foreignId: false,
        location: false,
        type: 'all'
      }
    },
    props: ['cbqos', 'perPage'],
    computed: {
      items () {
        let toRet = []
        let items = this.$store.getters[namespace.nodes + 'nodes']() || []
        if (this.type === 'all') {
          toRet = items
        } else {
          items.forEach(item => {
            this.monitoredItems.forEach(monitoredItem => {
              if (parseInt(item.id) === parseInt(monitoredItem)) {
                toRet.push(item)
              }
            })
          })
        }
        return toRet
      },
      monitoredItems () {
        return this.$store.getters[namespace.users + 'acl'].monitoredNodes || []
      }
    },
    methods: {
      toggleForeignId () {
        this.foreignId = !this.foreignId
      },
      toggleLocation () {
        this.location = !this.location
      },
      goToDetail ({row, event}) {
        if (!this.cbqos) {
          this.$router.push({name: 'Node.Dashboard', params: {id: row.id, label: row.label}})
        } else {
          this.$emit('nodeSelected', row)
        }
      },
      resetFilter () {
        this.type = 'all'
      },
      filterMonitored () {
        this.type = 'monitored'
      }
    },
    created () {
      this.$store.dispatch(namespace.nodes + 'getNodes')
        .then(() => {
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
    }
  }
</script>

<style scoped>
</style>
