<template>
  <div>
    <loader :loading="loading">
      <div>
        <div v-for="column in columns">
          <strong>{{ column }}</strong>
          <pre><code><span v-html="item[column]"></span></code></pre>
        </div>
      </div>
    </loader>
  </div>
</template>

<script>
  import Loader from '../elements/Loader.vue'

  let namespace = {
    users: 'users/'
  }

  export default {
    components: {
      Loader
    },
    name: 'NodeAssetWidget',
    props: ['name', 'item', 'loading'],
    computed: {
      columns () {
        return this.$store.getters[namespace.users + 'assetWidgetProperties'](this.name) || []
      }
    }
  }
</script>
