<template>
  <div>
    <loader :loading="loading">
      <router-link :to="{name: 'Notifications'}">
        <p v-if="items.length <= 0">You have no outstanding notices</p>
        <p v-if="items.length >0">You have {{items.length}} outstanding notices</p>
      </router-link>
    </loader>
  </div>
</template>

<script>
  import Loader from '../elements/Loader.vue'

  let namespace = {
    notifications: 'notifications/'
  }

  export default {
    components: {Loader},
    name: 'NotificationsWidget',
    data () {
      return {
        loading: true
      }
    },
    computed: {
      items () {
        return this.$store.getters[namespace.notifications] || []
      }
    },
    methods: {
    },
    created () {
      this.$store.dispatch(namespace.notifications + 'getNotifications')
        .then(() => {
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
    },
    mounted () {
    }
  }
</script>

<style scoped>
</style>
