<template>
  <div>
    <ul class="nav nav-tabs">
      <li :class="{active: type == 'current'}" @click="filterCurrent()"><a>Current</a></li>
      <li :class="{active: type == 'resolved'}" @click="filterResolved()"><a>Resolved</a></li>
      <li :class="{active: type == 'all'}" @click="filterBoth()"><a>Both Current & Resolved</a></li>
    </ul>
    <br/>
    <loader :loading="loading">
      <v-client-table :data="items" :columns="columns" :options="options"></v-client-table>
    </loader>
  </div>
</template>

<script>
  import moment from 'moment'
  import Loader from '../elements/Loader.vue'

  let namespace = {
    outages: 'outages/',
    users: 'users/'
  }

  export default {
    components: {
      Loader
    },
    name: 'OutagesWidget',
    data () {
      return {
        type: 'all',
        items: [],
        options: {
          orderBy: {
            column: 'id',
            ascending: false
          }
        },
        loading: true
      }
    },
    computed: {
      columns () {
        return this.$store.getters[namespace.users + 'widgetProperties']('Outages') || []
      },
      allOutages () {
        return this.$store.getters[namespace.outages + 'outages'] || []
      }
    },
    methods: {
      refreshItems (items) {
        this.items = []
        items.forEach(item => {
          this.pushNewItem(item)
        })
      },
      pushNewItem (item) {
        let newItem = {
          id: item.id,
          foreignSource: item.foreignSource,
          nodeLabel: item.nodeLabel,
          interface: item.ipAddress,
          serviceType: item.monitoredService.serviceType.name,
          logMessage: item.serviceLostEvent.description.replace(/<(?:.|\n)*?>/gm, ''),
          ifLostService: moment(item.ifLostService),
          ifRegainedService: moment(item.ifRegainedService)
        }
        this.items.push(newItem)
      },
      filterCurrent () {
        this.type = 'current'
        this.refreshItems(this.$store.getters[namespace.outages + 'currentOutages'] || [])
      },
      filterResolved () {
        this.type = 'resolved'
        this.refreshItems(this.$store.getters[namespace.outages + 'resolvedOutages'] || [])
      },
      filterBoth () {
        this.type = 'all'
        this.refreshItems(this.allOutages)
      }
    },
    watch: {
      allOutages (newOutages) {
        if (this.type === 'all') {
          this.refreshItems(newOutages)
        }
      }
    },
    created () {
      this.$store.dispatch(namespace.outages + 'getOutages')
        .then(() => {
          this.loading = false
          this.filterBoth()
        })
        .catch(() => {
          this.loading = false
        })
    },
    mounted () {

    }
  }
</script>
