<template>
  <div>
    <loader :loading="loading">
      <list v-if="items.length != 0" :items="items" type="ListCellPendingProblems"></list>
      <p v-else>There are no pending problems</p>
    </loader>
  </div>
</template>

<script>
  import List from '../elements/List'
  import Loader from '../elements/Loader.vue'
  let namespace = {
    alarms: 'alarms/'
  }

  export default {
    components: {
      Loader,
      List
    },
    name: 'PendingProblemsWidget',
    data () {
      return {
        loading: true
      }
    },
    computed: {
      items () {
        return this.$store.getters[namespace.alarms + 'activeAlarms'] || []
      }
    },
    methods: {
    },
    created () {
      this.$store.dispatch(namespace.alarms + 'getAlarms')
        .then(() => {
          this.loading = false
        })
    },
    mounted () {
    }
  }
</script>

<style scoped>
</style>
