<template>
  <div>
    <autocomplete :disabled="items.length == 0" :list="items" placeholder="Node Id" property="id" @autocomplete-select="onItemSelected"></autocomplete>
    <autocomplete :disabled="items.length == 0" :list="items" placeholder="Node Label" property="label" @autocomplete-select="onItemSelected"></autocomplete>
    <autocomplete :disabled="itemsIpInterfaces.length == 0" :list="itemsIpInterfaces" placeholder="Node Ip Address" property="ipAddress" @autocomplete-select="onItemIpInterfaceSelected"></autocomplete>
  </div>
</template>

<script>
  import Autocomplete from '../elements/Autocomplete'
  let namespace = {
    nodes: 'nodes/',
    requisitions: 'requisitions/'
  }

  export default {
    components: {Autocomplete},
    name: 'QuickSearchWidget',
    data () {
      return {
        itemSelected: null
      }
    },
    computed: {
      items () {
        let items = this.$store.getters[namespace.nodes + 'nodes'](['label', 'id']) || []
        /* if (items.length > 0) {
          items.forEach((item) => {
            this.$store.dispatch(namespace.nodes + 'getNodeIPInterfaces', item.id)
          })
        } */
        return items
      },
      itemsIpInterfaces () {
        let interfaces = []
        let allNodes = this.$store.getters[namespace.nodes + 'nodes'](['label', 'id']) || []
        let requisitions = this.$store.getters[namespace.requisitions + 'requisitions']
        if (allNodes.length > 0) {
          requisitions.forEach(requisition => {
            let nodes = requisition.node
            nodes.forEach(reqNode => {
              let nodeInterfaces = reqNode.interface
              nodeInterfaces.forEach(nodeInterface => {
                let ipAddress = nodeInterface['ip-addr']
                let nodeExist = allNodes.filter(node => node.label === reqNode['node-label']).length > 0
                if ((interfaces.filter(nodeInterface => nodeInterface.ipAddress === ipAddress).length === 0) && nodeExist) {
                  interfaces.push({ipAddress: ipAddress})
                }
              })
            })
          })
        }
        return interfaces
      }
    },
    methods: {
      onItemSelected (item) {
        this.itemSelected = item
        this.gotoNodeDetail()
      },
      onItemIpInterfaceSelected (itemIpInterface) {
        this.items.forEach((item) => {
          if (itemIpInterface.nodeId.toString() === item.id) {
            this.onItemSelected(item)
          }
        })
      },
      gotoNodeDetail () {
        this.$router.push({name: 'Node.Dashboard', params: {id: this.itemSelected.id}})
      }
    },
    created () {
      this.$store.dispatch(namespace.nodes + 'getNodes')
      this.$store.dispatch(namespace.requisitions + 'getRequisitions')
    },
    mounted () {
    }
  }
</script>

<style scoped>
</style>
