<template>
  <div>
    <loader :loading="loading"></loader>
    <div id="mapid"></div>
  </div>
</template>

<script>
  import Loader from '../elements/Loader.vue'
  import Vue from 'vue'
  // import Moment from 'moment'
  let bus = new Vue()

  window.goTo = function (nodeId, nodeLabel) {
    bus.$emit('goToFromRegionalStatus', {nodeId, nodeLabel})
  }

  let namespace = {
    nodes: 'nodes/',
    events: 'events/',
    geolocations: 'geolocations/'
  }

  export default {
    components: {Loader},
    name: 'RegionalStatusWidget',
    data () {
      return {
        items: [],
        mymap: null,
        markers: null,
        positions: [],
        loading: true
      }
    },
    methods: {
      goTo (nodeId, nodeLabel) {
        this.$router.push({name: 'Node.Dashboard', params: {id: nodeId, label: nodeLabel}})
      },
      createMap () {
        this.mymap = L.map('mapid', { scrollWheelZoom: false }).setView([51.505, -0.09], 15)
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
          maxZoom: 18,
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
          'Imagery © <a href="http://mapbox.com">Mapbox</a>',
          id: 'mapbox.streets'
        }).addTo(this.mymap)
      },
      setMapInfo () {
        this.setMarkers()
        this.setPosition()
      },
      setMapData () {
        if (this.mymap) {
          this.setMapInfo()
        } else {
          if (!this.mymap) {
            this.createMap()
          }
          this.setMapData()
        }
      },
      setMarkers () {
        this.markers = L.markerClusterGroup({
          zoomToBoundsOnClick: false,
          maxClusterRadius: 120,
          iconCreateFunction: cluster => {
            var markers = cluster.getAllChildMarkers()
            var n = markers.length
            let clusterSeverity = 0
            let clusterLabel = 'Undeterminate'
            markers.forEach(marker => {
              let itemNode = marker.item
              if (itemNode) {
                if (parseInt(itemNode.severityInfo.id) > clusterSeverity) {
                  clusterSeverity = itemNode.severityInfo.id
                  clusterLabel = itemNode.severityInfo.label
                }
              }
            })
            return L.divIcon({html: n, className: 'mapCluster' + clusterLabel.toUpperCase(), iconSize: L.point(40, 40)})
          }
        })

        this.markers.on('clusterclick', cluster => {
          let items = cluster.layer.getAllChildMarkers()
          let popupStr = '<div class="popupCloud"><table class="node-marker-list">'
          items.forEach((item) => {
            let id = item.item.nodeInfo.nodeId
            // let itemNode = this.items.filter(item => parseInt(id) === item.item.nodeInfo.nodeId)[0]
            popupStr +=
              '<tr class="node-marker-Major">' +
              '<td class="node-marker-label">' +
              '<a href="#" onclick="window.goTo(\'' + id + '\', \'' + escape(item.item.nodeInfo.nodeLabel) + '\')"><span class="severity severity' + item.item.severityInfo.label.toUpperCase() + '">' + item.item.severityInfo.label + '</span></a>' +
              '</td>' +
              '<td class="node-marker-label">' +
              '<a href="#" onclick="window.goTo(\'' + id + '\', \'' + escape(item.item.nodeInfo.nodeLabel) + '\')">' + item.item.nodeInfo.nodeLabel + '</a>' +
              '</td> ' +
              '</tr>'
          })
          popupStr += '</table></div>'

          L.popup()
            .setLatLng(cluster.latlng)
            .setContent(popupStr)
            .openOn(this.mymap)
        })
        this.items.forEach((item) => {
          if (item.coordinates.latitude && item.coordinates.longitude) {
            let position = [
              item.coordinates.latitude,
              item.coordinates.longitude
            ]
            let icon = L.icon({
              iconUrl: 'static/img/marker' + item.severityInfo.label.toUpperCase() + '.png',
              iconSize: [25, 35],
              iconAnchor: [22, 95],
              popupAnchor: [-8, -85]
            })
            let marker = L.marker(position, {icon: icon})
            marker.item = item
            marker.bindPopup('<h4 style="color: #3c8dbc" class="pointer" onclick="window.goTo(\'' + item.nodeInfo.nodeId + '\', \'' + item.nodeInfo.nodeLabel + '\')">' + item.nodeInfo.nodeLabel + '</h4><br/>Severity: <span class="severity severity' + item.severityInfo.label.toUpperCase() + '">' + item.severityInfo.label + '</span><br/><br/>' + 'Address: ' + item.addressInfo.address1)
            this.markers.addLayer(marker)
          }
        })
        this.mymap.addLayer(this.markers)
        this.$nextTick(() => {
          this.markers.refreshClusters()
        })
      },
      setPosition () {
        let positions = []
        this.items.forEach((item) => {
          positions.push([
            item.coordinates.latitude,
            item.coordinates.longitude
          ])
        })
        this.mymap.fitBounds(positions)
      }
    },
    created () {
      this.$store.dispatch(namespace.geolocations + 'getGeolocations')
        .then((results) => {
          this.items = results
          this.setMapData()
          this.loading = false
        })
        .catch(() => {
          this.loading = false
        })
      bus.$on('goToFromRegionalStatus', ({nodeId, nodeLabel}) => {
        this.goTo(nodeId, nodeLabel)
      })
    }
  }
</script>

<style scoped>
  #mapid {
    height: 400px;
  }
</style>

<style>
  .node-marker-label {
    padding: 3px;
  }
  .popupCloud {
    height: 200px;
    overflow-y: scroll;
  }

  .pointer {
    cursor: pointer;
  }

  .nodeCell {
    margin: 5px 0;
  }

  .severity {
    padding: 3px;
    color: white;
  }

  .severityUNDETERMINATE {
    background: gray !important;
  }
  .severityNORMAL, .severityCLEARED {
    background: #C5E1A5 !important;
  }

  .severityMINOR, .severityWARNING {
    background: #FFE082 !important;
  }

  .severityMAJOR, .severityCRITICAL {
    background: #FFAB91 !important;
  }

  .mapClusterUNDETERMINATE {
    background: rgba(175,175,175,0.8);
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
  }

  .mapClusterNORMAL, .mapClusterCLEARED {
    background: rgba(100,255,100,0.8);
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
  }

  .mapClusterMINOR, .mapClusterWARNING {
    background: rgba(255,155,55,0.8);
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
  }

  .mapClusterMAJOR, .mapClusterCRITICAL{
    background: rgba(255,100,100,0.8);
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
  }
  .leaflet-popup-content {
    width: 500px !important;
  }
</style>
