<template>
  <div>
    <autocomplete :disabled="items.length == 0" :list="items" placeholder="Node Label" property="label" @autocomplete-select="onItemSelected"></autocomplete>
  </div>
</template>

<script>
  import Autocomplete from '../elements/Autocomplete'
  let namespace = {
    nodes: 'nodes/'
  }

  export default {
    components: {Autocomplete},
    name: 'ResourceGraphWidget',
    computed: {
      items () {
        return this.$store.getters[namespace.nodes + 'nodes'](['label', 'id']) || []
      }
    },
    methods: {
      onItemSelected (item) {
        this.gotoNodeDetail(item)
      },
      gotoNodeDetail (item) {
        this.$router.push({name: 'Node.Resources', params: {id: item.id, label: item.label}})
      }
    },
    created () {
      this.$store.dispatch(namespace.nodes + 'getNodes')
    }
  }
</script>
