<template>
  <div>
    <loader :loading="loading">
      <v-client-table :data="items" :columns="columns" :options="options" @row-click="goToNodeDetail"></v-client-table>
    </loader>
  </div>
</template>

<script>
  import List from '../elements/List'
  import Loader from '../elements/Loader.vue'
  import NodesWidget from '../widgets/Nodes.vue'

  let namespace = {
    users: 'users/',
    availabilities: 'availabilities/',
    nodes: 'nodes/'
  }

  export default {
    components: {
      NodesWidget,
      Loader,
      List
    },
    name: 'RTCWidget',
    props: ['category'],
    data () {
      return {
        options: {
          orderBy: {
            column: 'id',
            ascending: false
          }
        },
        loading: true
      }
    },
    computed: {
      columns () {
        return this.$store.getters[namespace.users + 'widgetProperties']('RTC') || []
      },
      items () {
        let toRet = []
        let nodeAvailabilities = this.$store.getters[namespace.availabilities + 'nodeAvailabilities'] || []
        nodeAvailabilities.forEach(availability => {
          let label = this.$store.getters[namespace.nodes + 'nodeById'](availability.id).label
          if (label) {
            let newItem = {
              outages: availability['service-down-count'] + ' of ' + availability['service-count'],
              availability: availability.availability.toFixed(3) + '%'
            }
            newItem.node = label || ''
            newItem.nodeId = availability.id
            toRet.push(newItem)
          }
        })
        return toRet
      }
    },
    methods: {
      goToNodeDetail ({row, event}) {
        console.log(row)
        this.$router.push({name: 'Node.Dashboard', params: {id: row.nodeId, label: row.node}})
      }
    },
    created () {
      let promises = []
      promises.push(this.$store.dispatch(namespace.availabilities + 'getAvailabilitiesForNodes', this.category))
      promises.push(this.$store.dispatch(namespace.nodes + 'getNodes'))
      Promise
        .all(promises)
        .then(() => {
          console.log('ok')
          this.loading = false
        })
        .catch(() => {
          console.log('no')
          this.loading = false
        })
    }
  }
</script>
