<template>
  <div>
    <form>
      <div>
        <label for="eventId">Event ID<br/><input id="eventId" v-model="filter.id"/></label>
        <label for="eventText">Event Text Contains<br/><input id="eventText" v-model="filter.description"/></label>
        <label for="severity">Severity<br/><select id="severity" v-model="filter.severity">
          <option value="">Any</option>
          <option>Indeterminate</option>
          <option>Cleared</option>
          <option>Normal</option>
          <option>Warning</option>
          <option>Minor</option>
          <option>Major</option>
          <option>Critical</option>
        </select></label>
      </div>
      <div>
        <label for="nodeLabel">Node Label Contains<br/><input id="nodeLabel" v-model="filter.nodeLabel"/></label>
        <label for="nodeIp">TCP/IP Address Like<br/><input id="nodeIp" v-model="filter.nodeIp"/></label>
        <label for="serviceType">Service Type<br/><select id="serviceType" v-model="filter.serviceType">
          <option value="">Any</option>
          <option>DNS</option>
          <option>ICMP</option>
          <option>SNMP</option>
        </select></label>
      </div>
      <div>
        <label for="uei">Exact Event UEI<br/><input id="uei" v-model="filter.uei"/></label>
      </div>
      <div>
        <label>Events After<br/><input id="eventsAfter" type="datetime-local" v-model="filter.eventsAfter" /></label>
        <label>Events Before<br/><input id="eventsBefore" type="datetime-local" v-model="filter.eventsBefore" /></label>
        <label for="relativeTime">Relative Time<br/><select id="relativeTime" v-model="filter.relativeTime">
          <option :value="filterFromTime(1)">Last hour</option>
          <option :value="filterFromTime(4)">Last 4 hours</option>
          <option :value="filterFromTime(8)">Last 8 hours</option>
          <option :value="filterFromTime(12)">Last 12 hours</option>
          <option :value="filterFromTime(24)">Last day</option>
          <option :value="filterFromTime(24*7)">Last week</option>
          <option :value="filterFromTime(24*31)">Last month</option>
        </select></label>
      </div>
    </form>
  </div>
</template>

<script>
  import moment from 'moment'
  export default {
    props: ['filter'],
    components: {},
    name: 'SearchEventsWidget',
    data () {
      return {
      }
    },
    computed: {
    },
    methods: {
      filterFromTime (hours) {
        return moment()
          .subtract(hours, 'hours')
          .format()
      }
    },
    created () {
    },
    mounted () {
    }
  }
</script>

<style scoped>
</style>
