<template>
  <div>
    <form>
      <div>
        <label for="eventText">Alarm Text Contains<br/><input id="eventText" v-model="filter.description"/></label>
        <label for="severity">Severity<br/><select id="severity" v-model="filter.severity">
          <option value="">Any</option>
          <option>Indeterminate</option>
          <option>Cleared</option>
          <option>Normal</option>
          <option>Warning</option>
          <option>Minor</option>
          <option>Major</option>
          <option>Critical</option>
        </select></label>
      </div>
      <div>
        <label for="nodeLabel">Node Label Contains<br/><input id="nodeLabel" v-model="filter.nodeLabel"/></label>
        <label for="nodeIp">TCP/IP Address Like<br/><input id="nodeIp" v-model="filter.nodeIp"/></label>
        <label for="serviceType">Service Type<br/><select id="serviceType" v-model="filter.serviceType">
          <option value="">Any</option>
          <option>DNS</option>
          <option>ICMP</option>
          <option>SNMP</option>
        </select></label>
      </div>
      <div>
        <label>Alarms First Event After<br/><input id="firstEventsAfter" type="datetime-local" v-model="filter.firstEventsAfter" /></label>
        <label>Alarms First Event Before<br/><input id="firstEventsBefore" type="datetime-local" v-model="filter.firstEventsBefore" /></label>
      </div>
      <div>
        <label>Alarms Last Event After<br/><input id="lastEventsAfter" type="datetime-local" v-model="filter.lastEventsAfter" /></label>
        <label>Alarms Last Event Before<br/><input id="lastEventsBefore" type="datetime-local" v-model="filter.lastEventsBefore" /></label>
      </div>
    </form>
  </div>
</template>

<script>
  export default {
    props: ['filter'],
    components: {},
    name: 'SearchAlarmsWidget',
    data () {
      return {
      }
    },
    computed: {
    },
    methods: {
    },
    created () {
    },
    mounted () {
    }
  }
</script>

<style scoped>
</style>
