<template>
  <div>
    <ul>
      <component :is="item.component" v-for="item in itemsEdited" :item="item" @parentEvent="parentEventListener"></component>
    </ul>
  </div>
</template>

<script>
  import ListCell from './_ListCell'
  import ListCell2 from './_ListCell2'
  export default {
    components: {
      ListCell2,
      ListCell
    },
    name: 'ElementBlank',
    props: ['items'],
    data () {
      return {
        example: 'I\'m a widget'
      }
    },
    computed: {
      dataDynamic () {
        return this.example + ' hello'
      },
      itemsEdited () {
        let toRet = []
        this.items.forEach(function (item) {
          item.component = item.type === 'blue' ? ListCell2 : ListCell
          toRet.push(item)
        })
        return toRet
      }
    },
    methods: {
      dataFunction (value) {
        return value
      },
      parentEventListener (event) {
        console.log('from parent')
        console.log(event)
      }
    },
    created () {
      console.log('created')
    },
    mounted () {
      console.log('mounted')
    }
  }
</script>

<style scoped>
  body {
    background: red;
  }
</style>
