<template>
  <li v-on:click="showSomething()">{{ item.title }}</li>
</template>

<script>
  export default {
    name: 'ListCell2',
    props: ['item'],
    methods: {
      showSomething () {
        this.$emit('parentEvent', this.item)
        this.$bus.$emit('eventBus', this.item)
      }
    }
  }
</script>

<style scoped>
  li {
    background: red;
  }
</style>
