<template>
  <div class="margin">
    <div>
      <ul class="nav nav-tabs">
        <li :class="{active: graph}" @click="showGraph()"><a>{{ getGraphLabel(graphLabel) }}</a></li>
        <!-- <li :class="{active: !graph}" @click="showData()"><a>Data</a></li> -->
      </ul>
    </div>
    <div v-show="graph">
      <canvas :id="graphId" style="width:100% !important; height: 400px !important;"></canvas>
    </div>
    <div v-show="!graph">
      <div class="margin">
        <pre>{{ item }}</pre>
      </div>
    </div>
    <br>
    <span :style="'padding: 5px; margin: 3px; float: left; clear: both; background-color: ' + stat.bg + '; border: 2px solid ' + stat.border" v-for="(stat, key) in stats" :key="key">
      <b>{{ stat.label }}</b> [<span v-for="(typeValue, typeKey) in stats[key]" :key="typeKey"> {{ typeKey !== 'label' && typeKey !== 'bg' && typeKey !== 'border' ? typeKey + ': ' + typeValue : ''}} </span>]
    </span>
    <div style="clear:both"></div>
    <br><br>
  </div>
</template>

<script>
  import moment from 'moment'

  const units = ['', 'K', 'M', 'G', 'T']
  const convertTo2Digits = (val, n = 0) => {
    let toRet = parseFloat(val.toString().split(' ')[0])
    if (toRet >= 1000) {
      toRet = convertTo2Digits(val / 1000, n + 1)
    } else {
      toRet = (Math.round(toRet * 100) / 100).toString() + ' ' + units[n]
    }
    return toRet
  }

  export default {
    name: 'Graph',
    props: {
      'item': {},
      'ifLabel': {},
      'graphLabel': {},
      'timePeriod': {},
      'startingUnit': {
        default: 1
      }
    },
    computed: {
    },
    data () {
      return {
        stats: {},
        graph: true,
        graphId: this.ifLabel + this.graphLabel + this.timePeriod,
        timestamps: [],
        graphLabels: {
          ifOctets: 'Kbps',
          ifHCOctets: 'Kbps HC',
          ifOctetsPerc: 'Perc In/Out Traffic Utilization',
          ifHCOctetsPerc: 'Perc In/Out Traffic UtilizationHC',
          ifUcastpkts: 'Unicast Packets',
          ifErrors: 'Errors',
          ifDiscards: 'Discards'
        }
      }
    },
    methods: {
      showGraph () {
        this.graph = true
      },
      showData () {
        this.graph = false
      },
      getGraphLabel (graph) {
        let label = this.graphLabels[graph]
        if (label) {
          return label
        }
        return graph
      }
    },
    watch: {
      item: {
        handler (newVal) {
          this.$nextTick(() => {
            let format = 'HH:mm'
            if (this.timePeriod > 0 && this.timePeriod <= 24) {
              format = 'HH:mm'
            } else if (this.timePeriod > 0 && this.timePeriod <= 24 * 7) {
              format = 'DD HH:mm'
            } else if (this.timePeriod <= 24 * 31 * 365 || this.timePeriod === -1) {
              format = 'YYYY/MMM/DD HH:mm'
            }
            let backgroundColors = ['rgba(100, 255, 100, 0.2)', 'rgba(100, 100, 255, 0.2)', 'rgba(255, 100, 100, 0.2)', 'rgba(255, 255, 100, 0.2)']
            let borderColors = ['rgba(100,255,100,1)', 'rgba(100,100,255,1)', 'rgba(255,100,100,1)', 'rgba(255, 255, 100, 1)']
            let labels = null
            let datasets = []
            let itemCount = 0
            for (let graphKey in newVal) {
              if (!labels) {
                labels = []
                this.item[graphKey].timestamps.splice(0, 1)
                this.item[graphKey].timestamps.forEach((timestamp, index) => {
                  // labels.push(moment(timestamp).format(format))
                  if (this.item[graphKey].timestamps.length > (12 * 8)) {
                    if ((index === 0) || (index % 12 === 0)) {
                      labels.push(moment(timestamp).format(format))
                    }
                  } else {
                    labels.push(moment(timestamp).format(format))
                  }
                })
              }
              let newValues = []
              // let nanCount = 0
              let average = 0
              let min = -1
              let max = 0
              let sum = 0
              this.item[graphKey].columns[0].values.splice(0, 1)
              const currentItem = this.item[graphKey]
              this.item[graphKey].columns[0].values.forEach((val, index) => {
                if (this.item[graphKey]) {
                  if (this.item[graphKey].attribute === 'ifInOctets' || this.item[graphKey].attribute === 'ifOutOctets' || this.item[graphKey].attribute === 'ifHCInOctets' || this.item[graphKey].attribute === 'ifHCOutOctets') {
                    if (!isNaN(val)) {
                      val = val * 8 / 1024
                    }
                  }

                  if (isNaN(val)) {
                    val = 0
                  }

                  let diff = Math.abs(new Date(currentItem.timestamps[index]) - new Date(currentItem.timestamps[((index !== 0) ? index - 1 : index)]))
                  let minutes = Math.floor((diff / 1000) / 60)

                  let value = 0
                  if (currentItem.columns[0].values.length > (12 * 8)) {
                    if ((index === 0) || (index % 12 === 0)) {
                      value = parseFloat(val * 8 / (minutes * 60)).toFixed(2)
                      newValues.push(value)
                      if (isFinite(value)) {
                        sum += parseFloat(value)
                      }
                    }
                  } else {
                    value = parseFloat(val * 8 / (minutes * 60)).toFixed(2)
                    newValues.push(value)
                    if (isFinite(value)) {
                      sum += parseFloat(value)
                    }
                  }

                  if (!isNaN(parseFloat(value)) && parseFloat(value) > max && isFinite(value) && index !== 0) {
                    max = Math.round(parseFloat(value) * 10000) / 10000
                  }
                  if (!isNaN(parseFloat(value)) && (min === -1 || parseFloat(value) < min) && isFinite(value) && index !== 0) {
                    min = Math.round(parseFloat(value) * 10000) / 10000
                  }
                }
              })
              average = Math.round(sum / (newValues.length) * 10000) / 10000

              let statLabel = graphKey
              if (graphKey === 'conformed') {
                statLabel = this.graphLabel + ' - conforming'
              } else if (graphKey === 'exceeded') {
                statLabel = this.graphLabel + ' - exceeding'
              } else if (graphKey === 'violeted') {
                statLabel = this.graphLabel + ' - violating'
              }

              newValues.splice(0, 1)
              labels.splice(0, 1)

              datasets.push({
                label: graphKey,
                data: newValues,
                backgroundColor: [
                  backgroundColors[itemCount]
                ],
                borderColor: [
                  borderColors[itemCount]
                ],
                borderWidth: 2
              })
              // STATS
              this.$set(this.stats, graphKey, {})
              this.stats[graphKey]['label'] = statLabel
              this.stats[graphKey]['min'] = this.graphLabel.indexOf('Perc') === -1 ? convertTo2Digits(min, this.startingUnit) : Math.round(min * 100) / 100
              this.stats[graphKey]['max'] = this.graphLabel.indexOf('Perc') === -1 ? convertTo2Digits(max, this.startingUnit) : Math.round(max * 100) / 100
              this.stats[graphKey]['average'] = this.graphLabel.indexOf('Perc') === -1 ? convertTo2Digits(average, this.startingUnit) : Math.round(average * 100) / 100
              this.stats[graphKey]['bg'] = backgroundColors[itemCount]
              this.stats[graphKey]['border'] = borderColors[itemCount]
              // X LINE COLOR
              itemCount++
            }
            let ctx = document.getElementById(this.graphId).getContext('2d')
            let myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: labels,
                datasets: datasets
              },
              options: {
                scales: {
                  yAxes: [{
                    ticks: {
                      callback: (value, index, values) => {
                        return this.graphLabel.indexOf('Perc') === -1 ? convertTo2Digits(value, this.startingUnit) : Math.round(value * 100) / 100
                      }
                    }
                  }]
                }
              }
            })
            myChart.update()
          })
        },
        immediate: true,
        deep: true
      }
    }
  }
</script>
