<template>
  <div :class="item.severity">
    <router-link :to="{name: 'Node.Dashboard', params: {id: item.nodeId, label: item.nodeLabel}}">{{ item.nodeLabel }} has {{ item.count }} alarms</router-link> ({{fromDate}})
  </div>
</template>

<script>
  import moment from 'moment'
  export default {
    components: {
    },
    name: 'ListCellPendingProblems',
    props: ['item'],
    computed: {
      fromDate () {
        return moment(this.item.lastEventTime).fromNow()
      }
    },
    methods: {
    },
    created () {
    },
    mounted () {
    }
  }
</script>

<style scoped>
  .MAJOR {
    background: orange;
    color: white;
  }
</style>
