<template>
  <div :class="item.severity">
    <router-link :to="{name: 'Node.Dashboard', params: {id: item.nodeId, label: item.nodeLabel}}">{{ item.nodeLabel }}</router-link> ({{fromDate}})
  </div>
</template>

<script>
  import moment from 'moment'
  export default {
    components: {
    },
    name: 'ListCellCurrentOutages',
    props: ['item'],
    computed: {
      fromDate () {
        return moment(this.item.ifLostService).fromNow()
      }
    },
    methods: {
    },
    created () {
    },
    mounted () {
    }
  }
</script>

<style scoped>
</style>
