<template>
  <div>
    <ul>
      <component :is="type" v-for="item in items" :item="item" :extras="extras"></component>
    </ul>
  </div>
</template>

<script>
  import ListCellPendingProblems from './ListCellPendingProblems'
  import ListCellCurrentOutages from './ListCellCurrentOutages'
  import ListCellNodes from './ListCellNodes'
  import ListCellResources from './ListCellResources'
  export default {
    components: {
      ListCellResources,
      ListCellNodes,
      ListCellCurrentOutages,
      ListCellPendingProblems
    },
    name: 'List',
    props: ['items', 'type', 'extras'],
    computed: {
    },
    methods: {
    },
    created () {
    },
    mounted () {
    }
  }
</script>

<style scoped>
  ul {
    margin: 0;
    padding: 0;
  }
</style>
