<template>
  <div>
    <input type="checkbox" v-model="item.checked"/> {{item.label}}
  </div>
</template>

<script>
  export default {
    name: 'ListCellResources',
    props: ['item']
  }
</script>

<style scoped>
</style>
