<template>
  <div>
    <router-link :to="{name: 'Node.Dashboard', params: {id: item.id, label: item.label}}">{{ item.label }}</router-link> <span v-if="extras.foreignId"> | {{ item.foreignId }} </span> <span v-if="extras.location"> | {{ item.location }} </span>

    <!-- <br><br>

    <span v-if="interfaces">
      <b>Thresholds</b> <br>
      <span v-for="meas in item.measurementsToCheck">
        {{ meas }}
      </span>
    </span>

    <br><br>

    <b>Interfaces</b> <br>
    <span v-if="interfaces" v-for="intf in interfaces" :class="intf.severity">
      {{ intf.label }}
      <br>
      IN-OCTETS {{ intf.inOctets }} | OUT-OCTETS {{ intf.outOctets }}
      <br>
      <span><i>{{ intf.alerts }} ALERTS</i></span>
      <span> | <i>{{ intf.warnings }} WARNINGS</i></span>
      <br/>
    </span> -->

    <div v-if="extras.measurements">
      <!-- <pre v-show="false" style="max-height: 150px; font-size: 10px;">{{ measurements }}</pre> -->
      <span v-show="false"><i>there are no alerts on monitored resources</i></span>
    </div>
  </div>
</template>

<script>
  /* let namespace = {
    measurements: 'measurements/'
  } */

  export default {
    name: 'ListCellNodes',
    props: ['item', 'extras'],
    data () {
      return {
        showAlert: false,
        interfaces: null
      }
    },
    computed: {
      /* measurements () {
        this.interfaces = {}
        let toRet = this.$store.getters[namespace.measurements + 'measurementsByNode']
        let nodeRes = toRet[this.item.id]
        if (this.item.measurementsToCheck) {
          for (let resKey in nodeRes) {
            for (let msKey in nodeRes[resKey]) {
              this.interfaces[resKey] = {
                label: resKey,
                inOctets: this.item.measurementsToCheck[resKey]['ifInOctets'].rule,
                outOctets: this.item.measurementsToCheck[resKey]['ifOutOctets'].rule
              }
              let intfAlerts = 0
              if (nodeRes[resKey]) {
                intfAlerts = nodeRes[resKey][msKey].columns[0].values.filter(value => {
                  return parseFloat(value) >= parseFloat(this.item.measurementsToCheck[resKey][msKey].alert)
                }).length
              }
              this.interfaces[resKey].alerts = intfAlerts
              let intfWarnings = 0
              if (nodeRes[resKey]) {
                intfWarnings = nodeRes[resKey][msKey].columns[0].values.filter(value => {
                  return parseFloat(value) > parseFloat(this.item.measurementsToCheck[resKey][msKey].warn)
                }).length
              }
              // WARNING ARE ALREADY IN ALERTS COUNT
              intfWarnings = intfWarnings - intfAlerts
              this.interfaces[resKey].warnings = intfWarnings
              if (this.interfaces[resKey].alerts > 0) {
                this.interfaces[resKey].severity = 'ALERT'
              } else if (this.interfaces[resKey].warnings > 0) {
                this.interfaces[resKey].severity = 'WARN'
              }
              // this.showAlert = alerts.length > 0
            }
          }
        }
        return toRet
      } */
    },
    created () {
      console.log('arturo', this.item)
    }
  }
</script>

<style scoped>
  .WARN {
    background: orange;
    color: white !important;
    margin: 2px;
    padding: 2px;
  }
  .ALERT {
    background: red;
    color: white !important;
    margin: 2px;
    padding: 2px;
  }
</style>
