<template>
  <transition name="page" mode="out-in">
    <vue-simple-spinner v-if="loading" line-fg-color="#e7a209"></vue-simple-spinner>
    <slot v-else></slot>
  </transition>
</template>

<script>
  import VueSimpleSpinner from '../../../node_modules/vue-simple-spinner/src/components/Spinner.vue'

  export default {
    name: 'loader',
    components: {VueSimpleSpinner},
    props: {
      loading: {
        type: Boolean,
        default: true
      }
    }
  }
</script>

<style scoped>
  .page-enter-active, .page-leave-active {
    transition: all 0.3s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
    transform: scale(0);
  }
</style>
