<template>
  <div>
    <div class="modal fade" id="bsModal" tabindex="-1" role="dialog" aria-labelledby="bsModalLabel" data-toggle="modal" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="bsModalLabel">Search</h4>
          </div>
          <div class="modal-body">
            <component :is="type" :filter="item"></component>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" @click="reset">Reset</button>
            <button type="button" class="btn btn-primary" @click="confirm">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import SearchEventsWidget from '../widgets/SearchEvents.vue'
  import SearchAlarmsWidget from '../widgets/SearchAlarms.vue'

  export default {
    components: {
      SearchAlarmsWidget,
      SearchEventsWidget
    },
    name: 'Modal',
    props: ['type'],
    data () {
      return {
        item: {}
      }
    },
    computed: {
    },
    methods: {
      reset () {
        this.item = {}
      },
      confirm () {
        this.$emit('search-done', this.item)
        $('#bsModal').modal('hide')
      }
    },
    created () {
      this.$bus.$on('showModal', () => {
        $('#bsModal').modal('show')
      })
    },
    mounted () {
    }
  }
</script>

<style scoped>
</style>
