<template>
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title">
        <router-link v-if="link" :to="{name: link}">{{ title }}</router-link>
        <span v-else>{{ title }}</span>
      </h3>
    </div>
    <div class="box-body">
      <slot></slot>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'widget',
    props: ['title', 'link']
  }
</script>
