<template>
  <div id="app">
    <div class="wrapper">
      <va-navibar></va-navibar>
      <va-slider :slideMenuItems="slideMenuItems"></va-slider>
      <va-content-wrap></va-content-wrap>
      <Modal></Modal>
    </div>
  </div>
</template>

<script>
import VANaviBar from 'NaviBar.vue'
import VASlider from 'Slider.vue'
import VAContentWrap from 'ContentWrap.vue'
import Modal from './components/Modal.vue'
import store from './vuex/store.js'
import menuItemsAuth from './lib/menuItemsAuth.js'
import menuItemsGuest from './lib/menuItemsGuest.js'

let namespaces = {
  users: 'users/'
}

export default {
  name: 'app',
  computed: {
    slideMenuItems () {
      let menuItems = menuItemsGuest
      if (this.$store.state.users.item.logged) {
        menuItems = menuItemsAuth.filter(item => {
          return store.getters[namespaces.users + 'pageStatus'](item.router.name) > 0
        })
      }
      return menuItems
    }
  },
  components: {
    'va-navibar': VANaviBar,
    'va-slider': VASlider,
    'va-content-wrap': VAContentWrap,
    Modal
  },
  store
}
</script>
