<template>
  <!-- Content Wrapper. Contains page content -->
  <div id="content-wrap" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{route.name !== 'Node.Dashboard' ? route.name : ''}}
      </h1>
    </section>

    <section class="content">
      <transition name="page" mode="out-in">
        <router-view>
        </router-view>
      </transition>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
export default {
  name: 'va-content-wrap',
  computed: {
    route () {
      return this.$route
    }
  },
  created () {
  }
}
</script>

<style>
.page-enter-active, .page-leave-active {
  transition: all 0.2s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
</style>
