<template>
  <aside id="slider" v-bind:class="[noPadding ? 'main-sidebar-no-padding-top' : 'main-sidebar']">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->

      <ul class="sidebar-menu">
        <transition-group name="list" tag="p" class="sidebar-menu">
          <va-slide-item
            v-for="item in slideMenuItems"
            :type="item.type"
            :isHeader="item.isHeader"
            :icon="item.icon"
            :name="item.name"
            :badge="item.badge"
            :items="item.items"
            :router="item.router"
            :link="item.link"
            :key="item.name"
          >
          </va-slide-item>
        </transition-group>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
import { mapGetters } from 'vuex'
import VASlideItem from './components/VASlideItem'

export default {
  name: 'va-slider',
  props: {
    slideMenuItems: {
      type: Array,
      default: []
    }
  },
  created () {
    this.noPadding = false
    if (this.$route.query.token !== undefined) {
      this.noPadding = true
    }
  },
  computed: {
    ...mapGetters([
      'currentUser'
    ])
  },
  components: {
    'va-slide-item': VASlideItem
  }
}
</script>

<style scoped>
  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to {
    opacity: 0;
    transform: scale(0);
  }
</style>
